[2018-04-16 14:47] tenjaa opened #3 "Components and instead of Spring Profile"
Hey,
Have you thought about using a custom annotation, that adds enables scanning for components in this library? Instead of using a special spring profile.

The benefit would be, that everyone could define their own profiles and it's the solution chosen by most other libraries.

eg. @EnableCircuitBreaker from Hystrix

I'd like to try contributing this if you're open for it :)

[2018-04-17 07:46] MrBW commented on #3
You won't believe it, but I started with an @EnableChaosMonkey and removed it later. My goal with Chaos Monkey is that you don't have to change any source code and can use it directly. Later it should be possible to extend the classpath and activate the chaos monkey on the fly via property. Chaos Monkey should not be part of your codebase and can be added dynamically. How do you feel about that?
Y

[2018-04-19 16:10] cgew85 opened #5 "Add support for Spring Boot 1.5.x"
Since a lot of projects are still based on earlier versions of Spring Boot, adding support for them might be a good idea.

[2018-04-20 10:08] tenjaa commented on #3
Sounds comprehensible 😄

[2018-04-24 05:29] MrBW opened #8 "Replace profile chaos-monkey with property based"
To activate/deactivate the Chaos Monkey at runtime, I want to switch from Spring Profile to a property base control.
We need to be able to turn Chaos Monkey on and off at any time. Only in this way are our chaos experiments under control and can be stopped at any time. Reduce the blast radius...!

Please vote up or down and share your thoughts!

[2018-04-24 06:08] tiarebalbi commented on #8
My thoughts on this, as far as we don't add any code to enable or disable the feature (like `@EnableChaosMonkey`) my vote is **YES** 😁

[2018-04-24 06:44] MrBW commented on #8
No changes to the codebase of the attacked project is our primary goal! ;-)

[2018-04-24 19:37] akshaypatel2397 opened #10 "Receiving Timeouts from Chaos-monkey for my Application"
I don't think this is a real issue. But, maybe I don't have a full understanding of how it works or what should have happened if I run my SpringBoot with ChaosMonkey. I have read the documentation but cannot fully understand how do I prove it is working or not. Can you please give us or explain to us what really happens when our Controllers, Service, Repository classes are intercepted and how was

[2018-04-25 04:44] tiarebalbi commented on #8
Are you working on this? Once you confirm, I can prepare a PR for this issue

[2018-04-25 04:52] MrBW commented on #8
Feel free! I‘m working on dynamic configuration...

[2018-04-25 05:38] tiarebalbi commented on #8
PR available for review.

[2018-04-25 07:13] MrBW commented on #10
With the Chaos Monkey for Spring Boot you are able to simulate an infected App and all consuming Apps must be able to handle timeouts, failures and exceptions. Chaos Monkey shows you the bugs in your architecture and helps you to build your app resilient.

For example:
You build an App which is consuming my chaos-monkey-demo app. Your App must be able to handle long running calls, for example you

[2018-04-26 06:44] MrBW commented on #10
I´m closing this issue, if you need more informations just ping me!

[2018-04-26 06:44] #10 closed

[2018-04-26 13:33] akshaypatel2397 commented on #10
Thank you MrBW.

[2018-05-02 14:29] russmiles opened #14 "Add support for triggering attacks through a management api while app is running?"
I would love to be able to trigger and turn-off attacks at runtime as this would then allow me to run temporary experiments against the system without restarting applications to load new configuration parameters around chaos.

I was thinking of something along the lines of a runtime switch to enable the management API:

[code]

There will likely be limitations about what can be triggered, dependin

[2018-05-02 15:54] MrBW commented on #14
It´s already there, prepared for our next release ;-)

There are some endpoints coming to enable/disable the Chaos Monkey, change the behave of all Assaults and so on.

Take a look at:
https://github.com/codecentric/chaos-monkey-spring-boot/blob/master/chaos-monkey-spring-boot/src/main/java/de/codecentric/spring/boot/chaos/monkey/endpoints/ChaosMonkeyController.java

What do you think?

[2018-05-09 09:58] MrBW commented on #14
Hi,

implementation for Spring 2.0.1 is done...
I´ve created a first SNAPSHOT version for you, please take a look at:
https://oss.sonatype.org/content/repositories/snapshots/

`<dependency>
  <groupId>de.codecentric</groupId>
  <artifactId>chaos-monkey-spring-boot</artifactId>
  <version>2.0.0-SNAPSHOT</version>
</dependency>`

I also created a new documentation, you can find the docs here:
https:

[2018-05-11 19:29] msrraju13 opened #16 "Spring boot version 1.5.2.RELEASE is supported by chaos-monkey-spring-boot 1.0.1?"
Hi Team,

is spring boot version 1.5.2.RELEASE is supported by chaos-monkey-spring-boot 1.0.1, we are seeing below error when trying to run the app by activating chaos monkey.

`org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'de.codecentric.spring.boot.chaos.monkey.configuration.EndpointConfiguration': Instantiation of bean failed; nested exception is org.sp

[2018-05-11 19:37] msrraju13 commented on #14
Hi,

I am looking for Spring Boot 1.5 release of the Chaos Monkey, please let me know when it's available.

Thank You.

[2018-05-16 11:15] ranajit-jana opened #20 "Config errors"
With spring boot 1.4 i am getting the config errors. Upgraded the  project to 1.5  but the  config error does not go away . If i remove the chaos monkey jar from pom.xml file then runtime error goes away.

<code>
org.springframework.beans.factory.BeanDefinitionStoreException: Failed to process import candidates for configuration class [com.wipro.coe.microservices.web.config.WebConfig]; nested exce

[2018-05-16 12:23] ranajit-jana opened #21 "Demo app not running"
when starting demo app
getting error as below.

No changes was done on the code.

<code>
no main manifest attribute, in chaos-monkey-demo-app-2.0.0-SNAPSHOT.jar
</code>

[2018-05-16 13:12] MrBW commented on #16
Hi,

implementation for Spring 1.5.x is done...
I´ve created a first SNAPSHOT version for you, please take a look at:
https://oss.sonatype.org/content/repositories/snapshots/

<dependency>
  <groupId>de.codecentric</groupId>
  <artifactId>chaos-monkey-spring-boot</artifactId>
  <version>1.5.0-SNAPSHOT</version>
</dependency>

Documentation can be found here:
https://codecentric.github.io/chaos-mon

[2018-05-16 13:12] MrBW commented on #5
Hi,

implementation for Spring 1.5.x is done...
I´ve created a first SNAPSHOT version for you, please take a look at:
https://oss.sonatype.org/content/repositories/snapshots/

<dependency>
  <groupId>de.codecentric</groupId>
  <artifactId>chaos-monkey-spring-boot</artifactId>
  <version>1.5.0-SNAPSHOT</version>
</dependency>

Documentation can be found here:
https://codecentric.github.io/chaos-mon

[2018-05-16 13:14] MrBW commented on #20
Hi,

implementation for Spring 1.5.x is done...
I´ve created a first SNAPSHOT version for you, please take a look at:
https://oss.sonatype.org/content/repositories/snapshots/

<dependency>
  <groupId>de.codecentric</groupId>
  <artifactId>chaos-monkey-spring-boot</artifactId>
  <version>1.5.0-SNAPSHOT</version>
</dependency>

Documentation can be found here:
https://codecentric.github.io/chaos-mon

[2018-05-16 13:15] MrBW commented on #20
Please see: https://github.com/codecentric/chaos-monkey-spring-boot/issues/5

[2018-05-16 13:15] #20 closed

[2018-05-17 06:31] ranajit-jana commented on #21
If it is running in your local probably it may be working. Please share the way to start the demo application.

I have done the  following steps.`
[code]

so with the branch  1.5.x or master i am getting same error.

additional parameter if needed to be passed to start this will help.

[2018-05-17 09:59] MrBW commented on #21
Error fixed! Please check out my latest changes...
It was my mistake, the Spring Boot Maven Plugin was configured wrong for chaos-monkey-demo-app.

[code]
Thx for the issue!

Bye,
Benjamin

[2018-05-22 05:36] #21 closed

[2018-05-22 05:37] MrBW commented on #16
Duplicated issue #5

[2018-05-22 05:37] #16 closed

[2018-05-24 11:14] MrBW opened #23 "Reorg Assaults"
Assault attacks are not choosen well, they are not fired correct, if all 3 are active.

[2018-06-19 11:07] #5 closed

[2018-06-19 11:07] #14 closed

[2018-06-19 11:07] #23 closed

[2018-06-28 15:56] corsin opened #26 "SpringRepositoryAspect does not seem to be created by the auto-configuration"
In the auto-configuration class `ChaosMonkeyConfiguration` all the aspect beans for the different Spring component types are created. The bean `SpringRepositoryAspect` seems to be missing though. Hence the Spring Boot Chaos Monkey never intercepts calls to `@Repository` components.

[2018-06-29 18:07] MrBW commented on #26
Thx for the hint...will check this!

[2018-06-29 20:30] geramirez opened #27 "Assault level max"
We love this library! Would you mind if we submitted a pr to raise the assult level max from 10 to 1000? Thanks!

[2018-07-02 08:39] venkiradkris opened #28 "chaos-monkey-spring-boot is not runnning"
Hi - Please check/suggest/help. Thanks.

cd /usr/share/chaos/chaos-monkey-spring-boot-master/chaos-monkey-spring-boot/
mvn clean install
BUILD SUCCESS

cd /usr/share/chaos/chaos-monkey-spring-boot-master/chaos-monkey-spring-boot/target
java -jar chaos-monkey-spring-boot-2.0.1-SNAPSHOT.jar --spring.profiles.active=chaos-monkey
Issue: no main manifest attribute, in chaos-monkey-spring-boot-2.0.1-SNA

[2018-07-02 11:29] deelthor commented on #28
Hey @venkiradkris,

Thanks for the feedback. chaos-monkey-spring-boot-2.0.1-SNAPSHOT.jar is not an executable jar file. There is a [demo-app](https://github.com/codecentric/chaos-monkey-spring-boot/tree/master/chaos-monkey-demo-app) within in the project which you can use to experiment with the chaos monkey. Just execute the same maven commands in chaos-monkey-demo-app.

[2018-07-02 11:35] #28 closed

[2018-07-02 11:46] corsin commented on #26
Excellent. Thanks!

[2018-07-02 13:13] deelthor opened #29 "Enabled Exception and Kill Assault with disabled Latency assault wont work as expected"
When checking for assault configuration following combination is evaluated the wrong way:

chaos.monkey.assaults.latencyActive=true
chaos.monkey.assaults.exceptionsActive=false
chaos.monkey.assaults.killApplicationActive=true

Both the checks for `isLatencyAndKillAppActive()` and `isExceptionAndKillAppActive()` in [ChaosMonkey](https://github.com/codecentric/chaos-monkey-spring-boot/blob/master/ch

[2018-07-02 13:20] deelthor opened #30 "Memory Assault"
Implement a increase memory assault

[2018-07-02 13:52] #29 closed

[2018-07-02 13:53] #30 closed

[2018-07-02 13:53] deelthor commented on #30
Closed because no issue but a feature.

[2018-07-03 15:54] geramirez commented on #27
Yep our service is hit at a rate of 900 request per second. We would like to test our availability at 4 9th to 5 9th. So we need Chaos Monkey to be much less active.

We are running all the experiments.

[2018-07-22 22:18] sachins50 opened #34 "inadequate step by step documentation"
Hi codecentric team,

I am trying to explore chaos monkey for spring boot microservice which I have deployed on Pivotal web service. I deploy microservice with 'cf push' command and it reads definition from manifest.yml file.
If I have to implement chaos monkey then can you please provide detailed steps in my setup?
I do not have : application.properties and application.yml inside my app. So how d

[2018-07-27 07:39] MrBW opened #36 "@Repository watcher did not work"
Repository Watcher is not invoked
Example can be found in branch metrics
https://github.com/codecentric/chaos-monkey-spring-boot/tree/2.0.1-metrics

[2018-07-31 19:46] sachins50 opened #37 "org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'de.codecentric.spring.boot.chaos.monkey.configuration.ChaosMonkeyConfiguration': Unsatisfied dependency"
We are trying to use this code in our Spring boot application. We use pivotal cloud foundry to deploy the code. When we have this in the application.yml:
spring:
  profiles:
    active: chaos-monkey
chaos:
  monkey:
    enabled: true

And also when we add watcher and try to re-stage or start the application. We are seeing errors:--

ConfigServletWebServerApplicationContext : Exception encountered

[2018-07-31 19:47] sachins50 commented on #37
[log.txt](https://github.com/codecentric/chaos-monkey-spring-boot/files/2246844/log.txt)  Logs are uploaded.

[2018-07-31 20:35] MrBW commented on #37
Could you please provide me your Spring version and the selected Chaos Monkey version?

I think you‘re running Spring Boot 2.0.x with Chaos Monkey for Spring Boot 1.5.0...

[2018-08-01 14:55] miklosbarabas opened #38 "@Max annotation on level in AssaultProperties does not take effect"
Using version 2.0.0 with SpringBoot 2.0.3 in `application.properties` I am able to set the
`chaos.monkey.assaults.level` over the value defined in the `@Max` annotation on the `level` field.

Example:
`chaos.monkey.assaults.level = 100`

[2018-08-01 16:34] satya2048 opened #39 "Ability to attack on only specific apis"
Example say we have three apis /getproductdetails, saveproductdetails,/deleteproductdetails etc..now can we have the ability to attack on specific apis only not sure whether we have this feature as of now.

[2018-08-02 10:05] MrBW commented on #39
Hi, nice idea and of course it's on our list. But currently the only way to manage this is byte-code-instrumentation. We will focus on this topic in one of our upcoming releases, currently we are changing some basics.
If you've any ideas please let me know!

[2018-08-02 10:40] MrBW commented on #37
Hmmm...I tried it with some demo examples but could not reproduce the error. I will create a demo with including cloud foundry.

Just to be clear, you are using the following versions:

- Spring Boot 2.0.0
- Spring Cloud 2.0.0
- Chaos Monkey for Spring Boot 2.0.0

[2018-08-02 19:54] MrBW commented on #37
I tried it with Pivotal Cloud Foundry and it works. I created a gist for you, please take a look and compare it with your setup. Chaos Monkey works like expected and has attacked the HelloController with Latency Assault.

You can find the gist at:
https://gist.github.com/MrBW/20b3b8ad88823a4dd3716de947942527

Please let me know if I can help! You are welcome and thanks for sharing!

[2018-08-02 19:57] MrBW commented on #34
I have tried it with Pivotal Web Services and it works. Please check my gist and compare it to your setup. It is possible to use a application.properties or yml file with Pivotal WS.

Take a look at:
https://gist.github.com/MrBW/20b3b8ad88823a4dd3716de947942527

Please let me know if I can help you! You are welcome!

[2018-08-10 19:36] sachins50 commented on #37
Hi,

We can enable chaos monkey as well as watcher for @RestController in my sample standalone spring boot  project for consuming one getChallange REST Call

i.	Since in my sample project, I have used this annotation alone, out of watchers - @Controller,@RestController, @Service, @Repository, @Component

ii.	When introduce other watchers (respective java annotations have not used in my application

[2018-08-13 05:49] satya2048 commented on #39
Hi MrBW thanks for the repsonse.Can you please elaborate on how to achieve the API specific attack using byte code instrumentation.thanks

[2018-08-18 09:28] MrBW commented on #39
There is already a great project on github: https://github.com/mrwilson/byte-monkey
It's not done via AOP, but the topic is on our list.

[2018-08-18 09:32] MrBW commented on #37
Hmm, how could I help? Any chance to take a look at your code for me? Currently it is hard for me to reconstruct your failure. If github is not the right place to share some of your internal code, we can switch to mail or any other private conversation.

Cheers
Benjamin

[2018-08-22 21:45] sachins50 commented on #37
Hi Ben - Please can you share email address ?

[2018-08-23 05:15] MrBW commented on #37
benjamin.wilms(at)codecentric.de

[2018-08-23 10:35] MrBW commented on #39
Add a task in our Chaos Board to develop this requested feature.
https://github.com/codecentric/chaos-monkey-spring-boot/projects/1#card-12369583

[2018-08-23 10:35] #39 closed

[2018-08-23 10:36] MrBW commented on #34
No feedback since 21 days. Close this issue, if you need more help, you are welcome!

[2018-08-23 10:36] #34 closed

[2018-08-25 00:05] ArjunSreepad opened #40 "usage for spring MVC application"
can I use this to test a SPring MVC application instead of Spring BOOT?

[2018-08-26 15:45] MrBW commented on #40
Chaos Monkey for Spring Boot is based on Spring Boot 1.5.x or 2.0.x, as long as Spring Boot is running your Spring MVC App, everything is ready to use the Chaos Monkey. I did not try the Chaos Monkey with a package WAR file. What is your stack look like? WAR file running in a Servlet container provided by a Application Server?

[2018-08-27 03:39] ArjunSreepad commented on #40
Yea. WAR file running in a Servlet container provided by a Application Server?

[2018-08-27 08:01] MrBW commented on #40
I tested it with Tomcat 9, Chaos Monkey Spring Boot 2.0.0 and with a MVC @Controller. It works out of the box :-)

So, the answer is YES you can use CMSB in a Spring MVC application running on a Application Server!

[2018-08-27 08:05] MrBW commented on #40
![image](https://user-images.githubusercontent.com/6093565/44648265-c8b6ed00-a9e0-11e8-9833-4eafc7ca25f5.png)

[2018-08-27 08:54] #40 closed

[2018-08-27 18:26] ArjunSreepad commented on #40
how to inject chaos monkey for a non spring boot application?

[2018-08-27 18:28] ArjunSreepad opened #42 "How to inject chaos monkey for a non spring boot application?"
I have a spring mvc application. what are the different ways to inject chaos monkey for a non sprig boot application?

[2018-08-28 11:46] MrBW commented on #42
If Spring Boot is not on board, the Chaos Monkey for Spring Boot cannot be used. But there are other chaos tools that can help you here.

For example (just Java):
https://github.com/mrwilson/byte-monkey
https://blog.probablyfine.co.uk/2016/05/30/announcing-byte-monkey.html

A full list of Chaos Engineering tools can be found on GitHub:
https://github.com/dastergon/awesome-chaos-engineering

[2018-08-29 04:48] #42 closed

[2018-09-04 11:39] jabrena opened #44 "Enabling the property: chaos.monkey.watcher.controller crash the Microservice"
Good afternoon,

I am doing a POC about the library running in this way:

[code]

and if the property: `chaos.monkey.watcher.controller: true` appear in the configuration, the execution fails.

You can test it in the POC. I have isolated the scenario in this branch:
https://github.com/jabrena/spring-boot-chaos-poc/tree/feature/codecentric

How to run the example:

``
./runChaos.sh
[code]

[2018-09-05 09:03] MrBW commented on #44
Proven pattern, it runs in my machine. :-(

Project checked out, built and started your runChaos.sh.
Chaos Monkey's is running... But I noticed that all 3 assaults are activated although only latency is activated in the config. I didn't find the place where this is activated.

[2018-09-05 09:52] jabrena commented on #44
mmm, it is rare. In a `Win` laptop is not running with `.bat` file and it is the same than `.sh`

I will check again in a Linux machine too today.

Thanks by the support.

Juan Antonio

[2018-09-05 09:54] jabrena commented on #44
Running with the dependency, I could test everything and I liked it.

[2018-09-05 09:58] MrBW commented on #44
I'm running it on Mac with Java 8. Please let me know...

[2018-09-05 20:07] jabrena commented on #44
Hi mate, review the branch `feature/external`

I have just tested on OSX with Java 10 and the result is the same than in Win.

[code]

[2018-09-06 07:30] MrBW commented on #44
Fixed it! Aspectjrt was missing, but I'm not sure why!

`mvn clean package
java -Xbootclasspath/a:aspectjrt-1.9.1.jar -cp ./target/spring-boot-chaos-poc-0.1.0-SNAPSHOT.jar -Dloader.path=chaos-monkey-spring-boot-2.0.0.jar org.springframework.boot.loader.PropertiesLauncher --spring.profiles.active=chaos-monkey`

Checked with following setup:
- Mac OS
- Java 8.0.181-oracle
- Java 10.0.2-oracle

[2018-09-06 09:01] jabrena commented on #44
Hi @MrBW,

It is not working for me:

[code]

Where is located that dependency?

`-Xbootclasspath/a:aspectjrt-1.9.1.jar``

Juan Antonio

[2018-09-06 09:08] jabrena commented on #44
Fixed!
https://github.com/jabrena/spring-boot-chaos-poc/tree/feature/external

I continue with the tests.

Note: Maybe, it could be interested to update the docs.
If you like, I could do a PR with the example adding the another approach.

Many thanks.

Juan Antonio

[2018-09-06 09:43] MrBW commented on #44
aspectjrt-1.9.1.jar has to be on any reachable place in the file-system.

Currently it is not in the chaos monkey docs for 1.5 or 2.0. I just added it to the main page:
https://codecentric.github.io/chaos-monkey-spring-boot/#dochaos

If you want, please feel free to update the docs in the master branch. Afterwars I will generate the docs  and push them to GitHub.

Thanks for your thoughts and expe

[2018-09-07 16:44] MrBW commented on #44
Can I close the issue?

[2018-09-07 19:48] jabrena commented on #44
Tomorrow, I will test again. Yesterday I did a presentation and I used the version inside of pom.xml because in the last moment, I didn't observe the assaults so this weekend I will check again, in this case with OSX.

In the presentation, I collected some questions about `Exception Assaults`. Next week, I will share with you.

For next week, I will check how to integrate with `chaostoolkit`, I sa

[2018-09-10 15:35] jo2 opened #47 "Is Chaos Monkey Latency Assault causing IOExceptions with broken pipe?"
When using Spring Boot Chaos Monkey Latency Assault I'm getting IOExceptions with the message Broken Pipe. It is only in test environment and it doesn't chrash my service but the it is harder to read the log and it does use some memory saving all the logs. Did I mess up any configuration? I only get this when using Chaos Monkey.
Here is my configuration:
[code]

This is the error log:
[code]

[2018-09-13 17:59] snieking commented on #47
Chaos Monkey does not interrupt any of your connections which typically an IOException Broken Pipe is. Also, the stack trace seems to confirm that.

However, perhaps it is a side effect of Chaos Monkey due to the latency being added? Perhaps you have something breaking the connection if it takes too long time? Which means that you would run into this error with a slow server as well.

I would try

[2018-09-13 19:01] MrBW commented on #44
Any news?

[2018-09-14 08:09] MrBW commented on #47
Just to avoid any misunderstanding, CM4SB is designed to attack one App and test if all consuming services can handle it.

![image](https://user-images.githubusercontent.com/6093565/45538027-2ed7a880-b806-11e8-8a7b-b70851b32d75.png)

Did you receive this Broken Pipe error in the consumer or on the producer side, where CM4SB is running?

[2018-09-14 08:10] #38 closed

[2018-09-16 11:11] jo2 commented on #47
Broken Pipe happend in the attacked app.

[2018-09-17 13:48] jabrena commented on #44
Hi @MrBW,

**sorry by the delay**. It is weird but in `Windows`, If I try to reach the endpoint:

[code]

I don't observe that the library take the control and apply any assault. The same development in OSX in  is working fine.

But the configuration is running:

http://localhost:8080/actuator/chaosmonkey

[code]

[2018-09-17 13:49] jabrena commented on #44
I observe that when the endpoint raise a `RuntimeException`.
Does exist another way to define more types of exceptions?

[2018-09-18 19:12] MrBW commented on #44
Hmmm....currently you only can raise a runtime exception. But is this also not working, when you inject latency?

[2018-09-18 19:38] jabrena commented on #44
Hi @MrBW,

In OSX, everything goes as expected but in Windows, I see the endpoints and when I do a request for the GET endpoint, I don't trigger any assault (Latency, Kill Application or RuntimeException). The question about the possibility to Raise more different exceptions is a general question not related with this possible issue but in Windows, I don't raise any event.

[2018-09-18 19:51] jabrena commented on #44
Can you test in your laptop:

[code]

You should reproduce the same scenario in your laptop

[2018-09-20 23:42] singhgarima commented on #36
@MrBW when is the release of 2.0.1 planned? This bug is currently impacting us and we would like to use your new 2.0.1 version.

Also is this issue a duplicate of https://github.com/codecentric/chaos-monkey-spring-boot/issues/26? Can you close of them in favor of the other?

[2018-09-22 11:39] jabrena commented on #44
Good afternoon @MrBW,

I have just tested with Ubuntu and the results are the same. Using the project as external library, at the moment, I don't observe that the library intercept the events using AOP features.

- Windows: KO
- OSX: KO
- Ubuntu: KO

Juan Antonio

[2018-09-27 12:52] jabrena commented on #44
Hi @MrBW,

I reviewed the app:
https://github.com/codecentric/chaos-monkey-spring-boot/tree/master/chaos-monkey-demo-app

but it is not very different that the example that I did:
https://github.com/jabrena/spring-boot-chaos-poc/tree/feature/external

Did you check it?

Juan Antonio

[2018-09-27 13:07] MrBW commented on #44
Hi,
I just came back from Thema AWS Community Days and did not find the time to
check it. I will have an look tomorrow at your example.

Bye
Benjamin
Juan Antonio Breña Moral <notifications@github.com> schrieb am Do. 27. Sep.
2018 um 14:52:

--
Benjamin Wilms | IT Consultant

codecentric AG | Hochstraße 11 | 42697 Solingen | Deutschland
mobil: +49 (0) 173 6726162
…

www.codecentric.de | blog.codec

[2018-09-27 13:45] jabrena commented on #44
Many thanks @MrBW :)

[2018-09-28 06:02] #47 closed

[2018-09-30 10:38] #36 closed

[2018-10-02 12:42] #37 closed

[2018-10-02 12:50] MrBW commented on #44
I tried it and it works correct. Since the AppKill Assault is activated, the first request leads to an AppKill. See screenshot...

![image](https://user-images.githubusercontent.com/6093565/46349273-e0be0400-c651-11e8-9812-188ca505369a.png)

Setup:
Mac OSX 10.13.6
Java 1.8.0_181

[2018-10-02 17:13] #26 closed

[2018-10-02 17:13] #27 closed

[2018-10-02 21:18] jabrena commented on #44
Hi @MrBW, but you used master. Try the branch that I said:

git checkout /feature/external
chmod 777 runChaos.sh
./runChaos.sh

In master, the dependency is included in the pom.xml but in the branch /feature/external, the library is loaded externally.

Juan Antonio

[2018-10-03 16:28] MrBW commented on #44
Confirmed, it's not working! Chaos Monkey is loaded, but all AOP based Watchers are not working, because they are using compile-time weaving. This works, if you are using CM4SB in your POM file. I have to change some parts and try out to use load-time or post-compile weaving.

[2018-10-03 20:04] jabrena commented on #44
Sorry, I would rather to make a mistake from my side. When you release a new version, I would like to test again. Meanwhile, I will review the integration with chaostoolkit to get new ideas. For the next test, I will create a Docker container to run everything inside.

Juan Antonio

[2018-10-10 11:36] jabrena commented on #44
Hi @MrBW,

I will review the project today and I will test it.

Many thanks!!!

Cheers

Juan Antonio

[2018-10-10 18:41] jabrena commented on #44
Hi @MrBW,

where can I download the Snapshot?

`chaos-monkey-spring-boot-2.0.1-SNAPSHOT.jar`

[2018-10-10 19:13] jabrena commented on #44
Found:
https://oss.sonatype.org/#nexus-search;quick~chaos-monkey-spring-boot

[2018-10-10 19:35] jabrena commented on #44
Hi @MrBW,

I tested again but it continues failing:

[code]

The new snapshot requires again the AOP library.

I can continue testing but it is better if we continue with the test from my POC. Checking your bash script and mine, your script don't use the AOP library but in my local tests, it is required. I downloaded the snapshot release from Sonatype: https://oss.sonatype.org/service/local/artifa

[2018-10-10 19:38] MrBW commented on #44
I will check your POC tomorrow

[2018-10-10 19:46] jabrena commented on #44
Yes, it is a bit late
Tomorrow more tests :)

[2018-10-14 12:28] MrBW commented on #44
Hi,

please check my PR on your repo. I've created a new CM4SB dependency including all needed libs. I can still optimize the new lib, but please try it first. ;-)
Bye
Benjamin

[2018-10-14 16:28] jabrena commented on #44
Finally!!!

[code]

In the last version, it is necessary to change the level of log to Debug:

[code]

[2018-10-14 16:28] jabrena commented on #44
How to create the jar with all dependencies? This week, I used the version from the artifactory but that version was not perfect. How to create manually from the source?

Juan Antonio

[2018-10-14 17:29] jabrena commented on #44
Hi @MrBW,

yes, the bug was fixed and thank you, the library is pretty useful.
Please, release the new jar to upgrade the POC with final jar.

Cheers

Juan Antonio

[2018-10-14 17:46] MrBW commented on #44
By the way, with the new release you're able to monitor all attacks and calls in the underlying app via Micrometer metrics. You can publish them via Prometheus and build dashboards in Grafana or whatever you prefer.

No further need to set a log level 😜

[2018-10-14 20:11] jabrena commented on #44
hehehe

I don't see the backlog... :p

I was thinking to review the demo that you developed with all microservices to check this way. In relation to the metrics, I will review the feature with Micrometer, it is nice @MrBW

Good night

[2018-10-29 22:06] oraclepandit opened #54 "chaos-monkey with spring-cloud-starter-netflix-hystrix"
When I enable chaos-monkey with spring-cloud-netflix-hystrix I'm getting the below error during Spring boot startup.  Without netflix-hystrix it works fine.

2018-10-29 14:53:04.207  INFO 77719 --- [           main] Application                              : The following profiles are active: chaos-monkey
2018-10-29 14:53:04.224  INFO 77719 --- [           main] ConfigServletWebServerApplicationCo

[2018-10-30 12:05] MrBW commented on #54
Currently we don't support the Spring Boot 2.1.0 version yet, but the demo application I built ran with the dependencies you used. Have a look at this gist and please let me know.

https://gist.github.com/MrBW/9e0defd33077db8d74217aec83cef7c5

[2018-11-04 07:33] oraclepandit commented on #54
Hello Benjamin,
Thank you for your prompt response.
If you add the watcher **chaos.monkey.watcher.component=true** to your application.properties you would see the issue.  I downloaded your code and I'm able to simulate the error on your demo code.
Appreciate if you could guide me on how to fix this issue or the correct version of jars I must add in my pom.xml.

-Pandit.

[2018-11-10 18:48] oraclepandit commented on #54
Hello Benjamin,
Appreciate your response on this issue.  Let me know if you need any more details.

-Pandit.

[2018-11-13 10:15] MrBW commented on #54
Hi,

I could reproduce the error, but could not find the time to take a deeper look.
Will try it in the upcoming week.

Benjamin

[2018-11-15 07:41] lipmanp opened #55 "Custom Exception support"
Application may handle the specific exception when interacting with its down stream layers/components, to increase application resiliency.  But the current Exception Assault `public class ExceptionAssault implements ChaosMonkeyAssault` will throw RuntimeException only during attack, it will be hard for application level error handling. It would be good to have capability to specify exception type

[2018-11-16 10:47] MrBW commented on #55
This feature would be awesome and I would like to do this!

If I understood you correctly, the custom exception should be thrown at a defined time. We can ensure this with the new function using a CustomWatcher. This then triggers the Chaos Monkey as soon as a certain method is called. We can configure this dynamically at runtime via API Call of the Chaos Monkey, i.e. the ChaosToolkit can do this

[2018-11-17 13:42] lipmanp commented on #55
Yes, custom exception shall be able to triggered with customize watcher.
it also shall be available to other standard watchers as well:

- @Controller
- @RestController
- @Service
- @Repository
- @Componen

The current Exception Assault fixes the Exception type as `java.lang.RuntimeException`, the key idea is to give flexibility in experiment to specify custom exception.

Given an example, the app

[2018-11-17 13:44] lipmanp commented on #55
The custom exception shall be child of RuntimeException

[2018-11-22 09:45] lipmanp commented on #54
Hi @oraclepandit
have you try the version
`<dependency>
            <groupId>org.springframework.cloud</groupId>
            <artifactId>spring-cloud-starter-netflix-hystrix</artifactId>
            <version>2.0.2.RELEASE</version>
        </dependency>
`
chaos-monkey v2.0.1 shall have similar version of spring framework dependency with spring-cloud-starter-netflix-hystrix does.

not sure why you

[2018-11-28 06:29] yuyang-os opened #56 "Supporting metrics features from v2.0.1 on v1.5.0."
Would the metric features on version 2.0.1 be replicated to version 1.5.0? Some applications are running on spring boot 1.5.0, and would take long to migrate to version 2.0 due to their complexity before they are able to use chaos-monkey-spring-boot. Would be great if you share your plans/thoughts on this.

[2018-11-29 06:28] abecedarius opened #57 "Latency Assault on the service layer which calls legacy SOAP/Rest Clients"
I have the boot app with the chaos monkey enabled. I have induced the latency by using the properties

` chaos.monkey.assaults.latencyRangeStart=3000
 chaos.monkey.assaults.latencyRangeEnd=15000
chaos.monkey.assaults.latencyActive=true `

Now, this is inducing the latency on the controller layer, But I have called various legacy endpoints(SOAP and Rest) in the service layer. Theseproperties are no

[2018-12-01 05:54] MrBW commented on #56
I like your idea and we should do this!

[2018-12-10 13:56] MrBW commented on #57
The Chaos Monkey will only slow down your response and not the components you use yourself.

But if you make these remote calls in a component using an @Service or @Component annotated class and not directly as a private method in your class, you can slow it down using the Chaos Monkey.

[2018-12-14 07:24] abecedarius opened #58 "Regarding the assaultlevel for applications spawning thread internally"
I have the boot application and which controller is calling the ervice it is spawning the async thread
which in turn spawning the parallel threads with below configurations:

[code]
Now , when I am running the load on this application with the assault level as 10 , i am not getting the 10% failure rate.

Is there any calculation which will decide the failure rate for the application , say suppose

[2018-12-21 08:42] abecedarius commented on #57
Thanks,
I am able to do the latency assault on the @service or @controller or @repository classes but it is not able to do the latency assault on the @component classes.

Getting below exception and the application is shutting down soon after that.

[code]

[2018-12-27 12:30] MrBW commented on #58
Currently, a random value is determined, which should approximately reflect the level in percent. Until the last release, I didn't have any metrics that I could use as the basis for a calculation. But I would have to use a rolling window to count the requests. Only then could I determine more precisely how many requests are to be attacked in which time window.

If you have any ideas here, please s

[2019-01-08 08:07] MrBW commented on #54
Closed, because no further interactions...

[2019-01-08 08:07] #54 closed

[2019-01-22 13:18] MrBW commented on #55
https://github.com/codecentric/chaos-monkey-spring-boot/pull/59

[2019-01-30 09:00] MrBW commented on #55
Available since 2.0.2 release of the Chaos Monkey for Spring Boot

[2019-01-30 09:00] #55 closed

[2019-03-08 09:00] michalkarolik opened #61 "Relaxed binding is not used in conditions"
I've configured `chaos.monkey.watcher.rest-controller: true` ( intellij completed 'rest-controller' for me, so I may be not only one with this issue :) ) and it turned out that code inside `de.codecentric.spring.boot.chaos.monkey.conditions.AttackRestControllerCondition` does not fetch it - it returns false because `context.getEnvironment().getProperty("chaos.monkey.watcher.restController")` seems

[2019-03-08 09:13] MrBW commented on #61
Hi, thx for this issue. I will take a look at it!

[2019-03-12 07:01] #61 closed

[2019-04-02 04:51] navdeepraheja commented on #54
Is there any solution for the above issue? I am facing the same issue with reactive dependencies.

org.springframework.context.ApplicationContextException: Unable to start reactive web server; nested exception is org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'org.springframework.boot.autoconfigure.web.reactive.ReactiveWebServerFactoryConfiguration$EmbeddedN

[2019-04-02 04:56] navdeepraheja opened #64 "Facing issue with @Component Watcher"
I am using SB Chaos monkey 2.0.1 and SPring context 5.0. Getting the below error on app startup with @Component watcher = true.

org.springframework.context.ApplicationContextException: Unable to start reactive web server; nested exception is org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'org.springframework.boot.autoconfigure.web.reactive.ReactiveWebServer

[2019-05-09 16:39] vchandrakar78 commented on #64
Hi, I am seeing the same error when i set the component watcher to true.

    watcher:
      component: true
      controller: false
      repository: false
      restController: false
      service: false

[2019-05-09 16:42] vchandrakar78 commented on #54
was there any update to this issue? I am using chaos monkey 2.0.2

[2019-05-10 07:35] denniseffing commented on #64
I can't reproduce this. Can you send me a code sample exhibiting your issue?

[2019-05-10 16:14] jabrena opened #69 "Use the project in Microservices packages as war"
Hi,

In some scenarios, the Spring boot applications are packages as war files to be executed in one application server. For that scenarios, Does exist some way to use the project?

Many thanks in advance

Juan Antonio

[2019-05-17 05:36] MrBW commented on #69
Hi,

it should work out of the box. I tested it some months ago and it works like charm.

Benjamin

[2019-05-17 09:51] jabrena commented on #69
Many thanks, I will try it :)

[2019-05-24 09:31] fletchgqc opened #70 "Default settings don't work as documented"
To reproduce:
- Add chaos-monkey-spring-boot **v2.0.2** dependency to maven
- Add following application properties:
[code]
- Start application and do something which uses a service.
    - Expected result: action successful with latency
    - Actual result: normal functionality
- Add following application properties:
[code]
- Start application and do something which uses a service.
    - Expected r

[2019-05-29 08:45] fletchgqc commented on #70
I have located the bug. It is here:

[code]
This is a Spring Condition which is evaluated in `ChaosMonkeyConfiguration` during startup to decide whether the `SpringServiceAspect` bean should be created or not. If the bean is not created, no attacks on services can happen until application restart.

As you can see, the default value is false.

The configuration for this property is available to be

[2019-05-30 13:58] fergrea82 opened #71 "unable to hit chaosmonkey endpoints"
I am using:
<dependency>
            <groupId>de.codecentric</groupId>
            <artifactId>chaos-monkey-spring-boot</artifactId>
            <version>1.5.0</version>
        </dependency>

I need to use this version as we are using springboot 1.5 in our application

Here is my basic config:
spring:
  profiles: chaos-monkey
chaos:
  monkey:
    enabled: true
    watcher:
      controller: false

[2019-05-30 14:46] #71 closed

[2019-06-03 12:45] zuoqi1993125 opened #72 "I have an error using this path("/actuator/chaosmonkey");Is there a serialization problem?"
**{
    "timestamp": "2019-06-03T12:31:34.711+0000",
    "status": 500,
    "error": "Internal Server Error",
    "message": "Type definition error: [simple type, class org.springframework.validation.beanvalidation.MethodValidationInterceptor]; nested exception is com.fasterxml.jackson.databind.exc.InvalidDefinitionException: No serializer found for class org.springframework.validation.beanvalidat

[2019-06-05 11:54] zuoqi1993125 opened #73 "In your configuration,my application must have "TaskScheduler" bean, otherwise timed tasks will not take effect.Why you don't give"
@Bean
    public ChaosMonkeyScheduler scheduler(@Nullable TaskScheduler scheduler, ChaosMonkeyRuntimeScope runtimeScope) {
        ScheduledTaskRegistrar registrar = null;
        if (scheduler != null) {
            registrar = new ScheduledTaskRegistrar();
            registrar.setTaskScheduler(scheduler);
        }
        return new ChaosMonkeyScheduler(registrar, assaultProperties, runtimeSco

[2019-06-06 08:57] MrBW commented on #57
@Componet is currently not working correctly, will take a close look on it

[2019-06-06 08:58] #69 closed

[2019-06-13 02:59] vishalvrv9 opened #74 "Support for annotations in pom.xml jar dependencies"
I'm using chaos-monkey-for-spring-boot 1.5.0 with Spring boot 1.5.x

I have a SB application which contains a data access layer jar in it's pom.xml.

The application calls the dal methods to reach out to downstream db/ldap components via the Autowired classes from the DAL dependency, which is @Repository annotated.

How can I inject latency after the DAL dependency methods are called?

Currently,

[2019-06-17 11:11] MrBW commented on #70
I would like to make the switch and initialize the watcher beans as soon as the Spring Boot App is started with the Chaos Monkey profile "chaos-monkey".

It would give us a lot more options to turn the watcher on and off during runtime.

[2019-06-21 14:28] MrBW commented on #74
My expectation would be that the CM4SB recognizes the Autowired DAL. Did you tell the CM4SB in the Assault config which attack to launch?

[2019-06-21 16:22] bensonarce opened #75 "Serialization problem when request "chaosmonkey" Endpoint"
Spring boot version: 2.1.3.RELEASE
Chaos Monkey: 2.0.1

Getting this error when request
GET --> http://localhost:7001/chaos/actuator/chaosmonkey

`{
    "code": "500",
    "message": "Type definition error: [simple type, class org.springframework.aop.framework.DefaultAdvisorChainFactory]; nested exception is com.fasterxml.jackson.databind.exc.InvalidDefinitionException: No serializer found for cla

[2019-06-21 19:14] bensonarce commented on #75
i tried with Chaos monkey 2.0.2 and Spring boot 2.1.3-RELEASE and now, i cannot start the app

`SpringApplication - Application run failed
org.springframework.context.ApplicationContextException: Unable to start web server; nested exception is org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'servletEndpointRegistrar' defined in class path resource [org/spring

[2019-06-23 05:38] vishalvrv9 commented on #74
Hey @MrBW thanks for replying.

To answer your question, yes I had set the assault properties something like this
`"assaultProperties":{
"level": 3,
"latencyRangeStart": 1000,
"latencyRangeEnd": 3000,
"latencyActive": true,
"exceptionsActive": false,
"killApplicationActive": false,
"restartApplicationActive": false
}`

I think I've found the cause. It is only the @Repository annotation causing the

[2019-06-23 06:21] MrBW commented on #74
Thank you very much! Will take a look at it and bring up a new release next
week. Including metrics.

Vishal Raj <notifications@github.com> schrieb am So. 23. Juni 2019 um 07:38:

--
Benjamin Wilms | IT Consultant

codecentric AG | Hochstr. 11 | 42697 Solingen | Deutschland
mobil: +49 (0) 173 6726162 <+4901736726162>
www.codecentric.de | blog.codecentric.de | www.meettheexperts.de

Sitz der Gesell

[2019-06-25 09:20] vivekajm commented on #54
Hi,
we try using version 2.0.2 version of chaos mokey with our application. ### **We are using Spring Webflux (reactive web programing) + Reactor core (Reactor Netty)**, the **spring boot version is (2.1.5.RELEASE**) but I am getting exception from the service, without chaos monkey dependency it is working fine. I am suspecting whether Chaos Monkey supports reactive programming or not. Below are t

[2019-06-25 09:24] vivekajm opened #76 "Chaos Monkey integration with webflux and reactor core"
Hi,
we try using version 2.0.2 version of chaos mokey with our application. ### We are using Spring Webflux (reactive web programing) + Reactor core (Reactor Netty), the spring boot version is (2.1.5.RELEASE) but I am getting exception from the service, without chaos monkey dependency it is working fine. I am suspecting whether Chaos Monkey supports reactive programming or not. Below are the excep

[2019-06-26 12:55] bensonarce opened #78 "Chaos Monkey is disabled and continue injecting Exceptions"
I have an app that use:
Spring boot version: 2.1.3.RELEASE,
Chaos Monkey: 2.0.0

 i want to understand how Chaos monkey works, when i disable "chaos" by endpoint at runtime, i continue calling some Rest Services, i can get some "chaos monkey" exceptions even some latency remains that, but latency disappear after some calls but exceptions continue for more time

thanks

[2019-06-30 04:28] vivekajm commented on #76
@vivekajm MrBW, Can you please look into this issue, we are stuck and unable to find any solution for this issue

[2019-06-30 05:57] vivekajm commented on #76
@MrBW Can you please confirm whether Chaos Monkey Supports **WebFlux**  or not , I am still getting the initialisation bean error, as per my investigation to resolve cyclic dependency we have to @Lazy initialise one of the bean  which is failing.

I believe that below constructor injection is failing because of this we are getting the error. Can you please help to resolve the issue.

public ChaosM

[2019-06-30 10:18] vivekajm commented on #76
@MrBW
the issue occur only when I tried to inject (chaos.monkey.watcher.**### component**=true), i believe that chaosMonkeyConfiguration for this particular version is not able to inject the dependency.

Note: we are using version 2.0.2 version of chaos mokey with our application. ### We are using Spring Webflux (reactive web programing) + Reactor core (Reactor Netty), the spring boot version is (

[2019-06-30 16:45] kevin-peters opened #79 "Same value for latencyRangeStart and latencyRangeEnd on LatencyAssault causes runtime error"
Currently its not possible to set latencyRangeStart and latencyRangeEnd to the same value to force a fixed instead of a ranged delay.

Even worse, this becomes apparent during runtime:

`java.lang.IllegalArgumentException: bound must be greater than origin
        at java.util.concurrent.ThreadLocalRandom.nextInt(ThreadLocalRandom.java:378)
        at de.codecentric.spring.boot.chaos.monkey.assaul

[2019-06-30 17:06] kevin-peters commented on #79
https://github.com/codecentric/chaos-monkey-spring-boot/pull/80

[2019-07-10 11:38] dmurat opened #81 "Are response attacks supported?"
I'm sorry if this is not an appropriate channel for questions, but I couldn't find another one.

I'm currently trying to comprehend chaos-monkey-spring-boot features and I noticed only attacks for requests. Are response attacks supported? It looks like, for example, that latency attack could be handy for responses too since it can simulate correct execution of business logic (including transaction

[2019-07-18 13:23] MelleD opened #82 "KillAppAssault is not working"
Hello,

we are using Jetty servlet stack together with Spring webflux.
If I use the `KillAppAssault`, i will get an error by the `Thread.sleep(5000);`

The error is:
[code]

Anybody an Idea?

[2019-07-18 15:44] SirWayne commented on #82
Ok tried it with the demo app and Spring MVC. It's ab issue with the jetty container. To reproduce you can just add this tor you pom
[code]

[2019-07-23 14:43] LucasHolzmann opened #83 "memoryAssault"
Hi,
I saw in your source code that there was a memoryAssault function. I managed to use it, but don't really understand how it works, especially how the memoryFillIncrementFraction and memoryFillTargetFraction parameters are used. Is there any documentation ? Or could you give me a brief explanation on it ?

[2019-07-27 15:27] MrBW commented on #81
Hello,

the Chaos Monkey reacts to the call of a public method and executes the attack directly. Up to now it is not possible to trigger this behaviour when leaving the method.

But it would be a nice extension, which is also technically possible. ;-)

[2019-08-05 13:03] maiksensi commented on #83
@LucasHolzmann as I understand the options they would do the following:
- `memoryFillIncrementFraction`: Increment memory fill by defined fraction; what is the rate you want your memory to fill.
- `memoryFillTargetFraction`: Target fraction of available memory; what is the desired amount of memory you want to fill up.

@MrBW please let me know if that is correct. I could add that to the docs if it

[2019-08-05 13:11] maiksensi opened #86 "Chaos Monkey for Spring boot not working with java11"
Seems chaos-monkey-for-spring-boot is currently not working with java11. We should change that at some point. (Guess I would mark this as a feature request)

Basically two tests are failing:
[code]

How to reproduce:
- use java11 locally and run `mvn test`

[2019-08-05 14:43] WtfJoke commented on #86
The InvocationTargetException has something to do with the used PowerMock/Mockito-Version (probably the one used is not java9+ compatible)

[2019-08-09 11:29] maiksensi commented on #81
As @MrBW stated, it seems like a nice extension. @dmurat if you'd like to work on a feature merge request regarding this let us know and re-open this. I am closing this as answered.

[2019-08-09 11:29] #81 closed

[2019-08-09 11:33] maiksensi commented on #78
@bensonarce Thanks for submitting an issue. That sounds "strange". Is there any chance you can provide a minimal working example to reproduce this?
Do you have specific questions on implementation details?

[2019-08-09 11:37] maiksensi commented on #73
Hey @zuoqi1993125 thanks for submitting this issue. I am trying to understand what the problem is. Can you describe it a bit more in details and maybe provide us with a minimal example to reproduce your bug?

[2019-08-09 11:38] maiksensi commented on #70
@fletchgqcb Can this be put to ready-for-release?
Is https://github.com/codecentric/chaos-monkey-spring-boot/pull/84 the corresponding MR?

[2019-08-09 11:59] maiksensi opened #88 "Improve docs to explain `MemoryAssault`"
Docs should contain an explanation on how to use the new `MemoryAssault`

[2019-08-09 15:21] fletchgqc commented on #70
Yes.
Yes.

[2019-08-12 20:50] maiksensi commented on #83
added #89

[2019-08-12 20:53] maiksensi commented on #75
Hey @bensonarce thanks for submitting this. Can you please provide us with a minimal working example? I tried to reproduce it, but couldnt.

[2019-08-13 07:20] WtfJoke opened #90 "Fix ChaosDemoApplicationTests#checkMetricsBean"
The test (in demo project ext-jar) fails under windows and should be fixed

[2019-08-15 20:31] maiksensi commented on #78
Closing this for now. If you are able to supply us with some more information, feel free to re-open this.

[2019-08-15 20:31] #78 closed

[2019-08-15 20:32] maiksensi commented on #73
Closing this for now. If you are able to supply us with some more information, feel free to re-open this.

[2019-08-15 20:32] #73 closed

[2019-08-15 20:35] maiksensi commented on #74
Seems this is fixed and released. Closing this for now. Feel free to open this again if the issue still exists.

[2019-08-15 20:35] #74 closed

[2019-08-15 20:38] maiksensi commented on #76
Is this a duplicate of #57 ?

[2019-08-16 09:16] WtfJoke commented on #86
Closed by #87

[2019-08-16 09:16] #86 closed

[2019-08-19 21:30] maiksensi commented on #70
Closed by #84

[2019-08-19 21:32] maiksensi commented on #79
Closed by #80

[2019-08-19 21:32] #79 closed

[2019-08-19 21:32] #70 closed

[2019-08-19 21:33] maiksensi commented on #56
Closed by #68

[2019-08-19 21:33] #56 closed

[2019-08-19 21:34] maiksensi commented on #75
Closing this for now as we cannot reproduce the issue. We would be happy to help with some more information. Especially a minimal working example would help us a great deal. Please feel free to repopen this issue.

[2019-08-19 21:34] #75 closed

[2019-08-19 21:36] maiksensi commented on #88
Closed by #89

[2019-08-19 21:36] #88 closed

[2019-08-19 21:42] maiksensi opened #92 "MemoryAssault not working on systems with more than 32GB RAM"
## Expected Behavior
When setting up a memory assault I expect it to work in the following:
- Docs tell me what I need to consider when using this type of attack (like that there is a grain of error for such attacks, and that they need to be fine-tuned from system to system).

## Current Behavior
- On systems with more RAM than 32GB memory assault does not work propery (available heap and memory f

[2019-08-26 15:55] ChristianLangmann opened #93 "Watcher for outgoing Rest-Calls (Template)"
Instead of watching components that implement a function and assaulting it, watch for outgoing calls (using RestTemplate) and assault this.

[2019-08-27 08:18] maiksensi commented on #76
@MrBW updated the spring boot version in the referenced PR. I guess this will be resolved with the next release.

[2019-08-27 08:24] maiksensi commented on #57
This should be fixed with https://github.com/codecentric/chaos-monkey-spring-boot/commit/5e34d37422929713ee70a171563405d53c0621a5

[2019-08-27 08:31] maiksensi opened #94 "Update chaos monkey dependencies"
- Update dependencies to latest stable releases (maven plugins, aspectj, spring boot, spring)

[2019-08-30 09:10] #92 closed

[2019-08-30 14:32] maiksensi opened #97 "Add some more helper templates"
It would be nice to have:

- Contribution Guidelines (noting to update docs and release notes),
- Code of Conduct,
- PR template (to make sure there is an issue for that particular PR)

[2019-08-30 14:33] maiksensi opened #98 "Automatic snapshot generation"
snapshots, docs (including changelog) should be generated automatically when merging to master.

[2019-08-30 14:47] maiksensi opened #99 "Add docs for cron schedule assault"

[2019-08-30 15:20] maiksensi commented on #99
fixed via #100

[2019-08-30 15:20] #99 closed

[2019-08-30 15:31] maiksensi commented on #76
This should be tackled in the next release. Closing this for now. Feel free to open it again if this is not fixed with the next release.

[2019-08-30 15:31] #76 closed

[2019-08-30 15:32] #57 closed

[2019-08-30 15:32] maiksensi commented on #57
Closing this for now. Feel free to open this again if this is not fixed with the next release.

[2019-08-30 15:33] maiksensi commented on #83
Closing this for now. The memory assault will be part of the next release and the docs are added. Feel free to open this again if things are still unclear.

[2019-08-30 15:33] #83 closed

[2019-09-04 12:26] WtfJoke opened #110 "Startup Issues when no RestController is present"
If I create an empty spring boot sample project (using [spring initializr](https://start.spring.io/) 2.1.7 with web dependency) and add chaosmonkey as dependency (and add default properties), the application doesnt start.
## Expected Behavior
Application should boot/start up.

## Current Behavior
Application crashes with following exception in [crash.log](https://github.com/codecentric/chaos-monke

[2019-09-04 16:42] maiksensi commented on #110
@fletchgqc do you know whats going on here? It kinda seems watcher related.

[2019-09-04 16:43] maiksensi commented on #110
Workaround till this is fixed:

- Create an empty class annotated with `@RestController`.

[2019-09-05 14:16] #97 closed

[2019-09-05 14:54] WtfJoke opened #115 "Update gh-pages branch automatically"
`mvn clean generate-resources site -DperformRelease` <-- updates gh-pages branch automatically

It needs following credentials (id=github) in settings.xml
[code]
Created @ChaosMonkeyServant for that purpose

Probably its best to change [phase ](https://github.com/codecentric/chaos-monkey-spring-boot/blob/master/chaos-monkey-docs/pom.xml#L98) of site-maven-plugin to deploy and sign everything using

[2019-09-06 15:07] fletchgqc commented on #110
Thanks for the nice steps to reproduce. That helped me to find it.

The problem is in pom.xml:

        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-web</artifactId>
            <scope>provided</scope>
        </dependency>

CMSB assumes that the application will provide spring web. You can get around the problem by adding

     @

[2019-09-06 15:13] #110 closed

[2019-09-09 10:00] smcgregor83 opened #118 "BeanCurrentlyInCreationException after upgrade to 2.1.0"
After upgrading from 2.0.2 to 2.1.0 our Spring Boot applications will no longer start due to a BeanCurrentlyInCreationException.

## Expected Behavior
Spring Boot application should start.

## Current Behavior
Spring Boot application does not start.

## Possible Solution
Not sure. This only occurs when spring-cloud-starter-sleuth is also on the classpath.

## Steps to Reproduce
[demo.zip](https://

[2019-09-13 12:36] WtfJoke commented on #118
Hi Gregor

Thanks for your report. 👍
I was able to reproduce it as well, using your demo.zip. The error doesnt occur with version 2.0.2.
I am going to ask around in our team if somebody can have a look at it.

[2019-09-21 21:54] scalablepuppets commented on #37
I am facing the same, is there a resolution ?

[2019-09-23 18:24] scalablepuppets opened #119 "Non Compatibility with Spring Cloud Dependencies"
its an easy Bug to reproduce, just have the 'Chaos Monkey for Spring Boot ' and 'Spring Cloud ' dependencies defined in the pom, try to start the application, it would not and would fail with Circular dependency issue.

Am sure its a known bug but should be a easy one to fix. If you could provide a resolution at the earliest.

Thanks

[2019-09-25 10:48] srempfer commented on #119
Could reproduce the same problem

[code]

This are the dependendies used

[code]

[2019-09-25 11:11] srempfer commented on #119
Narrow down the problem to this library
[code]
and the Auto-Configuration
[code]

[2019-09-25 13:22] srempfer commented on #119
Is a duplicate of the issue #118

[2019-09-25 13:30] srempfer commented on #118
Narrowed down the problem to this library
[code]
and the Auto-Configuration
[code]

[2019-09-27 11:20] ingoschaal commented on #37
Hi

i'm facing similar problems

Error:

org.springframework.context.ApplicationContextException: Unable to start web server; nested exception is org.springframework.beans.factory.BeanCreationException:
Error creating bean with name 'org.springframework.boot.autoconfigure.web.servlet.ServletWebServerFactoryConfiguration$EmbeddedTomcat':
Initialization of bean failed; nested exception is org.spring

[2019-09-27 15:11] ingoschaal commented on #37
Hi

i test my application with an older Spring version

springBoot Version: 2.0.3.RELEASE
springCloud Version: Finchley.RELEASE
springCloudServices Version: 2.0.0.RELEASE

and
chaos-monkey-spring-boot:2.0.2

and there was no error. :-)

can you evaluate what could be the problem?
I appreciate any help

[2019-09-30 06:11] ingoschaal commented on #37
Could the problem described here be related to this? one here:
https://github.com/codecentric/chaos-monkey-spring-boot/issues/118 ?

[2019-10-01 09:07] WtfJoke commented on #119
Hi @scalablepuppets and thanks for your issue report. Also thanks a lot for your analysis Stefan, really helped us analyzing the issue.

As @srempfer already pointed out, closing this in favor of #118  (duplicate)

[2019-10-01 09:07] #119 closed

[2019-10-01 09:11] WtfJoke commented on #37
@ingoschaal yes, youre right. Most likely your issue is a duplicate of #118.

You can check out #120 and see if it fixes the problem for you.

[2019-10-01 10:45] #118 closed

[2019-10-01 10:47] maiksensi commented on #118
We'll prepare a release in the next days.

[2019-10-01 10:55] WtfJoke commented on #118
Some analysis notes:

Tested by adding this dependency:
[code]

Issue was caused by  `org.springframework.cloud.context.properties.ConfigurationPropertiesBeans` and SpringComponentAspect (ChaosMonkeyComponentWatcher).

In 2.0.2 watchers werent configurable at runtime and fixed with #84 (which kinda "reintroduced" this bug, but problem already existed earlier)

For more details see #120

[2019-10-01 13:03] #98 closed

[2019-10-01 13:28] WtfJoke commented on #118
Latest 2.2.0-SNAPSHOT should solve the issue, see https://codecentric.github.io/chaos-monkey-spring-boot/#snapshots

[2019-10-01 13:30] ingoschaal commented on #37
@WtfJoke #120 fix my problems thanks

[2019-10-02 08:19] WtfJoke commented on #118
[2.2.1 released](https://github.com/codecentric/chaos-monkey-spring-boot/releases/tag/2.1.1) containing this bugfix

[2019-10-02 09:11] smcgregor83 commented on #118
Thanks very much for investigating and fixing this. I have tested 2.2.1 and my applications start correctly again.

[2019-10-02 13:47] maiksensi commented on #82
Hey @SirWayne,

first, thanks for the patience on your side with that bug. I finally tried to reproduce this but couldn't. I used a fresh spring boot app with one single `@RestController` and assaulted it with a latency attack which worked just fine. That said, I used a fresh demo project from spring initialzr

- Spring Boot: `2.1.8.RELEASE`
- Chaos Monkey: `2.1.1.1`

So, I will close this for now

[2019-10-03 21:00] ultcyber commented on #94
Hi - opened a pull request - I hope it's still a valid issue. If not, feel free to close it

[2019-10-04 07:43] maiksensi opened #128 "`MetricPublisher` is using a deprecated API"
When packaging CMSB we get a deprecation warning. We should investigate what API is deprecated and see whether we can port to a newer API.

[code]

[2019-10-04 07:44] maiksensi opened #129 "Contribution Guidelines should be reachable via README"
Even though we're having a contribution guideline, it is not mentioned in any of our docs. We should change that and make it clearly visible for contributors.

[2019-10-04 11:42] Chrispy404 commented on #129
I have opened a pull request to hopefully combat the issue.

[2019-10-05 07:46] Abijithkrishna commented on #128
Hi, can I take this up

[2019-10-06 11:30] haridevelops commented on #93
what exactly needs to be fixed ? can you elaborate ?

[2019-10-06 12:27] elijah-pl commented on #93
I think the goal should be achieved by writing an interceptor that will be injected into the existing `RestTemplate` bean and randomly return different responses (timeout, internal server error, ok etc.) or introduce delays.

[code]
If @maiksensi is OK with this solution, I would like to prepare a MR for this.

[2019-10-07 07:38] maiksensi commented on #93
Hey @haridevelops and @elijah-pl,

thanks for your interest in this issue. It is highly appreciated. Currently, Chaos Monkey for Spring Boot (CMSB) is able to assault several annotations one can use. Such as `@Controller`, or `@Service`. Assaulting outgoing calls (where `@RestTemplate` is used) are not part of the possible classes that can be assaulted.

However, so far we did not discuss the exac

[2019-10-07 07:47] haridevelops commented on #93
We can create something like RestCommonClient.java which can be inherited which class wants to do a rest call.

So RestTemplate will a class level variable of RestCommonClient. hence can be utilised all across.

For your case like new RestTemplate() scenario,
There won't be a much of code change than referencing the right object from parent .

[2019-10-07 07:49] haridevelops commented on #93
Like how we add an Error handler for a  RestTemplate.

All the exceptions and intercepting can be done at one place which can utilized all across.

[2019-10-07 08:03] WtfJoke commented on #129
Closed by #130

[2019-10-07 08:03] #129 closed

[2019-10-07 08:09] WtfJoke opened #132 "changes.adoc styling should be clear"
If [changes.adoc](https://github.com/codecentric/chaos-monkey-spring-boot/blob/master/chaos-monkey-docs/src/main/asciidoc/changes.adoc) is empty at beginning of a release, its not obvious what style the file should maintain.

PR with wrong styling will be created and needs review changes, see #127, #130 , #131

Asciidoc-comments should be made about how the styling should be, by giving examples.
E

[2019-10-07 08:47] maiksensi opened #133 "Use a autoformatting tool (integrate in pipeline too)"
In order to avoid "nitpicking" comments about the styling of a java file I suggest we integrate an autoformatting tool into our maven goals (which can be executed then) and also integrate that as a mandatory goal into our CI pipeline (if not correctly formatted fail pipeline).
In the best case, we only look at pure syntax formatting (like prettier does for JavaScript).

[2019-10-07 08:50] maiksensi commented on #132
In pytest we're using `towncrier` to automatically generate a changelog and the entries. Maybe there is a good workfow we can adapt (or a tool for java) to do similar things with `changes.adoc`?

[2019-10-07 09:31] WtfJoke commented on #94
Closed by #127

[2019-10-07 09:31] #94 closed

[2019-10-07 09:44] elijah-pl commented on #93
@maiksensi As far as I know, AspectJ supports constructor interception, so solution can be extended with aspect that will inject `ChaosMonkeyInterceptor` into manually created instances of `RestTemplate`

[2019-10-07 11:01] WtfJoke commented on #132
[Maven changes plugin](http://maven.apache.org/plugins/maven-changes-plugin/)  seems to be a possible solution. First look (without using it), doesnt look that great (having changes in xml...), export to github is possible, though

[2019-10-07 11:10] maiksensi commented on #93
@elijah-pl thanks for pointing that out. I haven't done too much with AspectJ so far. Anyways, @WtfJoke and I will meet on Thuesday and there we can discuss the feature in more details and what the technical implementation could look like. I just want to make sure theres no need to change anything for a possible users (for example using rest template in a specific way is not a good solution imho).

[2019-10-07 14:46] WtfJoke commented on #93
For clarification, we meet on Thursday Evening (CEST) :)

[2019-10-07 16:27] elijah-pl commented on #93
@maiksensi @WtfJoke There are good chances that I'll be able to participate on Thursday. Reach me on FB.

[2019-10-08 19:21] maiksensi opened #135 "We should have a code of conduct which we adhere to"
- We already discussed the possible use of https://www.contributor-covenant.org/version/1/4/code-of-conduct

It didn't seem the current maintainers have any objections, so I would propose to get it into the repo, link to it in the docs.

[2019-10-10 07:44] singhgarima commented on #72
Hi @zuoqi1993125. Where you able to fix the issue. We are having the exact same issue and are not able to find root cause.

[2019-10-10 08:35] WtfJoke commented on #128
Just linking this to #131

[2019-10-10 10:44] maiksensi commented on #72
Hey @singhgarima,

is there any chance you can supply us with a example to reproduce this?

[2019-10-10 18:08] olfarmer commented on #132
I'll work on this.

[2019-10-10 19:02] #132 closed

[2019-10-11 08:17] WtfJoke commented on #128
Fixed by #137

[2019-10-11 08:17] #128 closed

[2019-10-16 08:56] WtfJoke commented on #133
I suggest we should using [google-java-format](https://github.com/google/google-java-format) and using either this [revelc/formatter-maven-plugin](https://github.com/revelc/formatter-maven-plugin) (configurable maven format plugin) or this [coveooss/fmt-maven-plugin](https://github.com/coveooss/fmt-maven-plugin) (google style format maven plugin)

[2019-10-17 17:37] maiksensi commented on #93
Unfortunately we didn't get to discuss the topic last week. I will remove the hacktoberfest label for now, as I am not sure expectations are clear. To summarize I would expect the following:

- It does not matter to a user whether `RestTemplate` is added as a Bean, or a custom class or directly instantiated
- A user should thus not need to change existing code in order to attack

I will have a loo

[2019-10-17 17:38] maiksensi commented on #133
As long as it works in the pipeline (checker) and in let's say intellij I really dont care as long as we get a consistent style by adding this.

[2019-10-17 17:41] maiksensi commented on #72
Hey @singhgarima,

We can only guess here, maybe the actuator is not added to the dependencies but in CMSB you added the option to add actuator endpoints?

I am closing this for now, as with the current input we cannot reproduce this. Feel free to re-open it with a reproducible minimal example.

[2019-10-17 20:42] Riggs333 opened #138 "Wrong default values for latencyRange properties in documentation"
In the documentation in the chapter **4.1. Properties** (chaos-monkey-docs/src/main/asciidoc/configuration.adoc) the default values for `chaos.monkey.assaults.latencyRangeStart` and `chaos.monkey.assaults.latencyRangeEnd` are described as 3000 respectively 15000.
But in the file `AssaultProperties.java` those are 1000 resp. 3000:
[code]

[2019-10-18 08:02] #138 closed

[2019-10-19 19:55] Riggs333 opened #140 "Migrate tests to JUnit Jupiter / JUnit 5"
Migrate all tests in `chaos-monkey-spring-boot` to JUnit Jupiter.

- [ ] add JUnit Jupiter dependencies
- [ ] migrate tests to use annotations and api of `org.junit.jupiter`
- [ ] remove obsolete `public` modifier for test classes and test methods

[2019-10-20 20:29] Riggs333 opened #142 "Add Maven Wrapper"
For an easier setup of the local development environment, use the [Maven Wrapper](https://github.com/takari/maven-wrapper). So there is no need to install Maven.

As a side effect the Maven version to be used can be explicitly defined directly in the repository via the Maven wrapper properties file.

[2019-10-21 09:20] WtfJoke commented on #90
It fails also on linux when executed directly in IDE (intellij)

[2019-10-21 10:19] maiksensi opened #144 "Docs should be more approachable"
Currently, the docs seem as they could need an overhaul.
The readme for example should feature the following topics:

- [x]  What is this project about
- [x] How to get started
- [x] Where to find the docs for which version
- [x] which versions of spring is this project compatible with
- [ ] Where to get help
- [x] Code of Conduct
- [x] How to Contribute
- [x] Link to changelog
- [x] add a changel

[2019-10-22 11:23] WtfJoke opened #145 "Migrate ChaosMonkeyRequestScopeTest to JUnit5"
In #141 tests were migrated to JUnit 5.

But `ChaosMonkeyRequestScopeTest` wasnt migrated, because of [UnnecessaryStubbingException](https://static.javadoc.io/org.mockito/mockito-core/2.6.5/org/mockito/exceptions/misusing/UnnecessaryStubbingException.html) caused by test method `isChaosMonkeyExecutionDisabled`.

[2019-10-22 11:24] WtfJoke commented on #145
Not sure how to fix it, the unnecessary stubs are only for the disabled case.
Extract them into separate class could be a solution.

[2019-10-23 14:35] #142 closed

[2019-10-23 14:53] #140 closed

[2019-10-23 21:25] Riggs333 commented on #145
One way how to solve this might be the use of JUnit's `@Nested` classes feature:
https://junit.org/junit5/docs/current/user-guide/#writing-tests-nested
See PR #146 as a suggestion for discussion.

There surely are other ways and different tastes, of course. ;-)

I'm interested in what you're all thinking about this.

[2019-10-25 09:48] WtfJoke commented on #145
The `@Nested` looks like an elegant solution for this. At least I think its better than splitting the tests (and have only one test method in a second class file).

If nobody comes up with a better idea, I would suggest merging #146

[2019-11-07 19:11] ericwyles opened #147 "Repository Watcher does not work on non-JPA Repositories"
## Expected Behavior
Chaos monkey should be able to assault @Repository classes that are not implementations of CrudRepository or within RepositoryDefinition. We use spring-data-jdbc and have several classes annotated with @Repository. This gives us exception translation and other benefits from the repository layer, but these are not JPA repositories.

## Current Behavior
The SpringRepositoryAspec

[2019-11-07 19:55] ericwyles commented on #147
I submitted a PR with a fix for this. I created an entire new aspect to reference the Repository stereotype and updated the auto configure to create that bean even when the CrudRepository is not on the classpath.

#148

I did it this way because trying to combine it with the existing aspect was causing issues in apps that don't have CrudRepository on the classpath. They would compile but not be ab

[2019-11-08 08:21] maiksensi commented on #147
Hey @ericwyles,

thanks for your MR! It is highly appreciated. However, I am not sure we will get to it before Monday. I hope that is fine for you.

[2019-11-08 12:01] ericwyles commented on #147
@maiksensi That's totally fine with me. I hope the approach I took works out ok and fits with the project. I enabled edits for project maintainers on my source branch as well, so if you need to make any tweaks feel free.

[2019-11-08 15:42] buderre opened #149 "Exception starting filter [CustomFilter]"
## Expected Behavior
Application should start

## Current Behavior
Application does not start. Instead the application fails to start and results in the exception
`
java.lang.NullPointerException: null
        at org.apache.catalina.core.ApplicationFilterConfig.initFilter(ApplicationFilterConfig.java:270)
	at org.apache.catalina.core.ApplicationFilterConfig.<init>(ApplicationFilterConfig.java:106)

[2019-11-08 16:18] maiksensi commented on #149
Hey @buderre,
thanks for submitting a bug report. That seems strange! Any chance you can tell us what application you used? Did you use  one of our example applications in the project or something you setup?

[2019-11-13 09:53] maiksensi commented on #147
I had a brief look at things and I was wondering why the current implementation watches for `CrudRepository` anyways. I would have expected the Pointcut in the same way as the ones for controllers or services (or the one you added). They basically watch for the appropriate annotation.

Thus we should be able to remove

[code]
and all corresponding usages. `SpringRepositoryAspectTest` should be abl

[2019-11-13 11:28] ericwyles commented on #147
I agree that would be cleaner and that was my original intent. I actually implemented it that way first.

The problem I ran into was that in the typical CrudRepository implementations the @Repository annotation is on the interface and not on the implementation. Making that change broke the existing test cases because the repository implementations were no longer being picked up by the aspect.

I s

[2019-11-13 11:43] ericwyles commented on #147
There was actually one other issue. I also tried just adding @Repository to the pointcut in the existing aspect, and removing ConditionalOnClass from the bean creation.

The issue with that was the pointcut evaluation still requires CrudRepository.class to be on the classpath or else the apps won't start. So an app that uses spring-data-jdbc classes but nothing from spring-data-commons will still

[2019-11-13 16:33] maiksensi commented on #147
Hey @ericwyles,

I've had the time to look into this a bit more. Thanks for your explanations, they helped a great deal to track down the problem 👍.
I am pretty sure we get around the need to add another separate aspect by doing the following in `SpringRepositoryAspect`:

[code]
The idea is, we either wrap around spring-data implementations or classes annotated with `@Repository` (`(isRepositoryAn

[2019-11-13 17:34] fletchgqc commented on #147
I added the comment "// Don't create this bean if Spring Data is not on the classpath." and can confirm that @ericwyles' explanation is correct, this is why I added it. I did not however add the CrudRepository, and I feel that the design is incorrect to focus on this one implementation. There are various types of repositories that can be used, as you are basically saying, and I think that they sho

[2019-11-13 17:44] ericwyles commented on #147
@maiksensi Yes, that all makes sense. I'll make the updates.

[2019-11-13 18:06] fletchgqc commented on #147
@maiksensi are you sure that matching against base classes works? I thought that it specifically does not work with pointcuts.

isRepositoryAnnotation should be hasRepositoryAnnotation.

[2019-11-13 18:11] fletchgqc commented on #147
I take that back, I tested it by putting your pointcut suggestions into SpringRepositoryAspectTest and it works. Ok, over to @ericwyles .

[2019-11-13 19:36] ericwyles commented on #147
@maiksensi I made the suggested changes but even with the new Pointcuts in place, when I remove the   @ConditionalOnClass(name = "org.springframework.data.repository.CrudRepository") from ChaosMonkeyConfiguration, it causes problems for any app that doesn't use spring-data-commons

Those apps fail to start with this error:

[code]

This is the reason I originally made the seperate aspect, because

[2019-11-13 19:58] maiksensi commented on #147
Hey @ericwyles,

hmm okay. We tested it with one of the demo apps:  https://github.com/codecentric/chaos-monkey-spring-boot/tree/master/demo-apps/chaos-monkey-web-reactive-app

Can you please check if the changes you applied work with that app? Running `mvn test` should do the trick and also start that app.

[2019-11-13 20:11] ericwyles commented on #147
mvn test on chaos-monkey-web-reactive-app gives the same error:

[code]

And here's the aspect as I have it coded right now:
[code]

And the ChaosMonkeyConfiguration:

[code]

[2019-11-13 20:37] maiksensi commented on #147
Wow you're fast. Thanks!
 That is strange, because we tested it here and it worked. I'll have a look at it as soon as I can (as I will be on a workshop tomorrow and the day after it is either the weekend or monday). If I get it to work, I'll push a commit to your fork if that's alright? One more thing, what java version / os youre using?

[2019-11-13 23:32] ericwyles commented on #147
I've produce the issue on Java 11 (zulu-11) and Java 1.8 (openjdk-1.8.0_101) both on Windows 10.

Sure, feel free to push to that fork. Perfectly fine with me.

Thanks!

[2019-11-15 15:43] ericwyles commented on #147
@maiksensi would it be helpful for me to go ahead and push the current state to my fork branch? I think it'll likely fail some tests in the PR validation process but it might be useful.

[2019-11-18 21:11] maiksensi opened #150 "Docs syntax is faulty"
## Current Behavior
Seems we have a little syntax error in our markdown file.
<img width="1428" alt="image" src="https://user-images.githubusercontent.com/6359386/69094092-08d41680-0a50-11ea-8fe2-c2400155069f.png">

## Expected Behavior
One should be able to copy paste the maven dependency.

## Possible Solution
We should fix the part starting with ```xml which seems to me is ment to outline that

[2019-11-20 16:08] WtfJoke commented on #133
https://github.com/diffplug/spotless looks neat and they also have a gradle/maven plugin. It supports google java format out of the box.

Seen in habitcentric (gradle):
[code]

[2019-11-20 19:19] maiksensi commented on #147
@ericwyles I am sorry that I didn't get to it yet, I will try my best tomorrow and let you know how it goes so we can finish up that thing here.

[2019-11-21 09:43] fletchgqc commented on #133
I used google java format with fmt-maven-plugin on a recent project and it was a very positive experience. Although it takes a while to get used to the annoyance of your build being declared broken, it's fantastic to have a standard format which is enforced during the build chain. Diffs are much easier to read, etc.

I believe that google format is the right choice because it's good enough (actual

[2019-11-21 14:58] maiksensi commented on #147
So, I basically adapted your approach, which seems the right one considering the current design. I tried a conditional aspect but that is not supported with spring as of now. I adapted the naming a bit in your and pushed some changes. Let me know if you think it is more clear this way @ericwyles and if so we can see that it gets merged soon.

[2019-11-24 18:14] maiksensi commented on #147
fixed via #148

[2019-11-24 18:14] #147 closed

[2019-11-25 12:54] WtfJoke opened #151 "Unnecessary Empty-Check on watchedCustomService"
## Expected Behavior

Dont check Property-List (`watchedCustomServices`) twice for empty.

## Current Behavior

In `de.codecentric.spring.boot.chaos.monkey.component.ChaosMonkeyRequestScope#callChaosMonkey` the `watchedCustomServices` is checked twice for empty.

First in AssaultProperties-Method:
https://github.com/codecentric/chaos-monkey-spring-boot/blob/d6782dca9e206e4dc6ad045ab061885fdc284e3d

[2019-11-26 11:57] Caps-Looking commented on #151
I'd like to work with that.

[2019-11-27 08:48] #145 closed

[2019-11-27 13:30] #151 closed

[2019-11-27 19:40] medmes commented on #149
Hey @buderre. could you please tell us, more details about the issue?

[2019-11-29 07:53] buderre commented on #149
Hey guys. I will try to reproduce the behavior with a small code example and reach out to you guys. Sorry for the delay.

[2019-12-19 19:39] maiksensi commented on #135
Recently, https://www.contributor-covenant.org/version/2/0/code_of_conduct was released. I think it is much better structured and more focused. So, I will open a PR with that code of conduct.

[2019-12-19 20:33] maiksensi commented on #135
see #154

[2019-12-20 07:34] WtfJoke commented on #150
Fixed by #153

[2019-12-20 07:34] #150 closed

[2019-12-20 09:34] #135 closed

[2019-12-24 01:41] sanha commented on #93
The goal of this issue sounds nice 👍

I applied CM4SB to my application and enjoyed it, but realized soon that the assaults can't attack the http call itself. Therefore, I can't verified that my timeout settings and circuit breakers work well with it. Because of this, I made an empty service just for the assault injection and call it in every remote calls. If this feature is implemented, people li

[2020-01-02 17:09] maiksensi opened #158 "Convert from mvn to gradle"
# What
We should convert our project from mvn to gradle.

# Why
Currently, the release process is a big pain in the a**. It  is completely manual and thus errorprone. My idea is to automate as much as we can. In order to do that I propose that we change our build runner to gradle which should give us more flexibility in scripting such things.

# Alternatives
One alternative was already evaluated b

[2020-01-02 17:12] maiksensi opened #159 "Drop 1.5.x support"
I would like  to drop Spring Boot support for 1.5.x. It is EOL https://spring.io/blog/2018/07/30/spring-boot-1-x-eol-aug-1st-2019
I would also add some notes in the docs, that we adhere to the spring boot lifecycle in order to be transparent about dropping support for versions.

[2020-01-02 21:18] maiksensi commented on #133
I am happy to prepare a MR in the next days (already started tbh) including:
- setup the plugin with checkstyle and a supression file (for disabled rules)
- setup running in the pipeline and failing it when violations occur
- docs explaining how to setup intellij

Docs:
https://google.github.io/styleguide/javaguide.html

They have an intellij plugin:
https://raw.githubusercontent.com/google/styleg

[2020-01-03 08:36] WtfJoke commented on #158
I think this mentioned mvn release plugin is already integrated, but we werent really able to use it correctly I think (I dont really like that with default setting it commits stuff to git by itself).

I dont mind converting it to gradle 😄.

We should check if there is such a thing as a release plugin (https://github.com/researchgate/gradle-release like this (example repo [here](https://github.com

[2020-01-13 09:51] fletchgqc opened #161 "Remove false watcher statement from docs"
[Docs](https://codecentric.github.io/chaos-monkey-spring-boot/2.2.0/#watcherspost) says: "NOTE: Watcher cannot be changed at runtime, they are Spring AOP components that have to be created when the application starts." This is no longer true and must be removed.

[2020-01-13 12:57] fletchgqc opened #162 "Change default values"
CMSB defaults:
chaos.monkey.enabled=false
chaos.monkey.watcher.service=true
chaos.monkey.assaults.latencyActive=true

This is pretty unintuitive. Because:
1) Why would you want latency and service on by default? Everything off by default would be more logical.
2) What about enabling chaos monkey by default? You put the profile there, you obviously want CMSB. If the attacks are all disabled by defa

[2020-01-14 08:58] fletchgqc commented on #93
Regarding WebClient: Spring actually state in their [doco](https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/web/client/RestTemplate.html) that RestTemplate will be deprecated in future and that you should use WebClient. Nevertheless, I think there are probably a lot of people still using RestTemplate and it's worth implementing something. We should do something

[2020-01-25 17:05] #161 closed

[2020-01-25 17:13] maiksensi commented on #162
I agree, the default values do not make sense, your proposal looks good to me.
What I like is that you have to enable the profile and then chaos monkey itself. This is handy in case I have a Gameday, we enable the profile to configure chaos monkey via rest and then we enable it at a specific time. So, I would argue that the workflow, activating the profile, configuring the attacks, enabling chaos

[2020-01-28 08:02] fletchgqc commented on #162
on/off switch: OK

cron: I have some thoughts on that. In any case, this is a separate issue, let's handle it somewhere else.

Tutorial: Manuel and I basically made one in audio/visual form, we are giving it at conferences. It kind of conveniently avoids the default issue. We could either use it as-is from, e.g. conf42 (video will be posted circa March 2020), or we could just record it again speci

[2020-01-30 09:31] #162 closed

[2020-01-30 11:53] fletchgqc opened #165 "Consolidate integration test naming"
We currently have

- MemoryAssaultIntegrationTest
- ChaosMonkeyRequestScopeRestEndpointDisabledIntTest
- ChaosMonkeyRequestScopeRestEndpointIntTest
- DefaultSettingsIntegrationTest
- ChaosDemoApplicationDefaultProfileTest
- ChaosDemoApplicationChaosMonkeyRequestScopeProfileTest

My questions:

1. Can we unify the naming?
  - I would suggest IntegrationTest. No need to use the "ChaosDemoApplication

[2020-01-30 13:32] fletchgqc commented on #115
A related issue: I don't think that we should have documentation for every release version. It's very professional and all, but really it's just a pain. I suggest to just have one set of doco, and if necessary mark features with "since v2.1.0" and stuff. Then less copying around would be needed and it could be easily automated anyway.

[2020-02-04 04:39] krupa814 commented on #55
Hi. Custom exception injection is cool as far as my argument type is a string. I have a the scenario where I am trying to inject HttpClientErrorException to inject various httpstatus failure codes because httpStatus argument is an Enum. Any suggestions please help.

[2020-02-04 06:19] maiksensi commented on #55
Hey @krupa814 thanks for reaching out via the issue tracker.
I don't think what you're trying to do is currently supported. If you feel this is wrong, and is in fact a bug, please submit a minimal example to reproduce the issue.
In any case, feel free to submit a MR or start a new issue to discuss your use case.
Reaching out via stackoverflow is usually also a good idea, as more ppl tend to help t

[2020-02-04 18:13] WtfJoke commented on #55
This is not possible. The current logic instantiate parameters with Class.forName(), which doesnt work for enums. This would be enhancement, to pass Enums as Parameters on Exception-Assault.

Code is [here](https://github.com/codecentric/chaos-monkey-spring-boot/blob/60586a0ab6848c7e9111150ff7ee8c2ffae700d9/chaos-monkey-spring-boot/src/main/java/de/codecentric/spring/boot/chaos/monkey/configuratio

[2020-02-06 10:10] WtfJoke commented on #133
Closed by #160

[2020-02-06 10:10] #133 closed

[2020-02-10 10:31] fletchgqc opened #169 "Build not broken by lines which are too long"
I noticed that checkstyle line length validation is suppressed. Why?

By the way, I used this successfully on a previous project: https://github.com/coveooss/fmt-maven-plugin. It's just a helper which reformats the code on build. A colleague managed to use it to break the build on the build server when the format wasn't right (i.e., when formatting the code changed anything). Let's see how we go w

[2020-02-10 12:05] maiksensi commented on #169
Line length in particular is a tricky rule. In our case I decided to disable it, as I would say that line length doesn't help your code quality in general. Depending on the change the reviewer has to decide whether it makes sense to use a different approach (and this line length won't be an issue) or whether it is okay to have a long line (for example a long string with an error message which is m

[2020-02-10 13:05] fletchgqc commented on #169
OK.

BTW, personally I prefer line length set to 120-140, I find 100 encourages poor variable names. But that's just life with the Google Java Formatter, intentionally unconfigurable.

[2020-02-10 13:05] #169 closed

[2020-02-10 17:41] fletchgqc opened #170 "Checkstyle reports violations on code formatted by Intellij Google Style Plugin"
After installing the Intellij plugin and code style as described on the Contribution Guide, format code with IntelliJ.

When running mvn:verify, I would expect it to pass.

Instead, checkstyle complains about a few violations regarding line indentation and brackets on next line.

Tonight I manually formatted code to pass checkstyle. Eugh.

Here is the commit where I manually formatted the code:
ht

[2020-02-10 18:06] maiksensi commented on #170
I can't see why we should do that. Just got for it and see how it works out.

[2020-02-10 18:08] maiksensi commented on #170
I actually can't believe formatting java code is such a pain. Isn't there a better solution like black or prettier?

[2020-02-10 19:28] fletchgqc commented on #93
I had a go at this today. Have a look at: https://github.com/fletchgqc/chaos-monkey-spring-boot/pull/2/files.

There I have demonstrated a POC for both RestTemplate and WebClient. The RestTemplate part is done with an interceptor as suggested by @elijah-pl. As you can see from the tests, it "works".

However, I have not managed to achieve the AOP part yet.

I agree with @maiksensi's two points, it

[2020-02-11 17:31] maiksensi commented on #170
Please wait before going a head with this and let's check out spotless first (https://github.com/diffplug/spotless) it looks promising.

@fletchgqc did you integrate the checkstyle into intellij? By adding the google formatter plugin and stuff? I think I outlined the process in the docs: https://github.com/codecentric/chaos-monkey-spring-boot/blob/master/CONTRIBUTING.adoc#intellij-setup

[2020-02-13 14:05] maiksensi commented on #170
I created a fast implementation with spotless and it works much better compared to checkstyle: check out out and let me know whether I should submit a pr https://github.com/maiksensi/chaos-monkey-spring-boot/tree/feature/setup-proper-style-formatter

[2020-02-15 14:36] WtfJoke commented on #93
Nice writeup @fletchgqc, the work done in the pull-request looks already promising.

Yes, I understand it like that as well

I am not sure if its worth replacing Spring AOP with AspectJ "just" to have the Non-Bean Instantiation covered.

Personally im not very familiar with AspectJ but [it sounds like, it doesnt support Runtime-Weaving](https://www.baeldung.com/spring-aop-vs-aspectj#summary) (like

[2020-02-15 15:58] WtfJoke commented on #170
As already said spotless looks quite neat, see my comment in the previous bug https://github.com/codecentric/chaos-monkey-spring-boot/issues/133#issuecomment-556076606. So if your experience its much better with spotless, lets go to spotless 💪

[2020-02-16 18:37] fletchgqc commented on #93
Well, rather adding than replacing. As the Baelding article you linked to says:

[2020-02-19 05:45] 4n0nym1ty opened #171 "why killApplicationActive property is not killing application"
chaos:
  monkey:
    enabled: true
    assaults:
      level: 3
      latencyRangeStart: 1000
      latencyRangeEnd: 4500
      latencyActive: false
      exceptionsActive: false
      killApplicationActive: true

i m trying kill microservice but still application is running,  why its happen i don't know , did i make any mistake in configuration.

[2020-02-19 07:31] fletchgqc commented on #171
Hi @LifeOfBinaries , I believe that you need to schedule KillApplication and Memory assaults via cron expressions, they are not triggered by HTTP requests. Search the doco for "cron" and see if that helps.

[2020-02-29 18:54] 4n0nym1ty commented on #171
Hi @fletchgqc, i apply cron expn to kill app in aws env.

[2020-02-29 18:54] #171 closed

[2020-03-18 10:18] maiksensi commented on #170
I'll submit a pr in the next days.

[2020-03-23 23:26] rusyasoft opened #172 "Assault level behaves not as described"
Assault level description in the documentation says:
"How many requests are to be attacked. 1 each request, 5 each 5th request is attacked"

When I have tested, it is not behaving as it has been described. Maybe it behaves in a probabilistic manner, not sure. For example, when I set level: 2, it means it should be an attack, not-attack, attack, not-attack, ... and so on. But it behaves almost rand

[2020-03-24 08:19] fletchgqc commented on #172
Hi @rusyasoft . The behaviour you describe is by design. We feel that it is more realistic when a service behaves like this, than exactly every second request being attacked.

Two questions:
a) Do you have a need for it to behave in a deterministic manner? If so, feel free to try to convince us that this should be implemented as an option.

b) Where did you read that in the documentation? We shoul

[2020-03-24 13:11] AnakinPt opened #173 "Chaos Monkeys and Swagger2 error"
I'm trying to integrate Chaos Monkey in my Spring Boot service. This service has Swagger 2 annotations to document it.

If I run with the default profile, the service works as expected, but when I run with the chaos-monkey profile, the application doesn't start with this error:

`
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'queryStringUriTemplateDecorato

[2020-03-24 13:59] fletchgqc commented on #173
Interesting. Spring Aop is trying to generate a CGLIB subclass of class springfox.documentation.spring.web.paths.QueryStringUriTemplateDecorator.

What does the Swagger Configuration class look like?

OT: I moved away from Swagger generation, here are some cool options to write openapi doco manually and automatically test it: https://spring.io/projects/spring-restdocs, https://bitbucket.org/atlass

[2020-03-24 15:55] AnakinPt commented on #173
I changed from Swagger2 to openApi and problem solved. At least for now.

[2020-03-24 15:55] #173 closed

[2020-03-24 16:22] rusyasoft commented on #172
Hi @fletchgqc
Thanks for developing and supporting this project.

a) I understand that Chaos Engineering somehow requires us to make it look like a "real environment" which is more close to the probabilistic approach. But it could be good to have a determinism switch for the people who need it. With determinism switch, wider usage becomes possible, such as specifically planned test cases, where we

[2020-03-28 17:35] yuryninor commented on #72
Hi, good morning:

In am getting the same errror trying to follow this tutorial https://piotrminkowski.com/2018/05/23/chaos-monkey-for-spring-boot-microservices/ but with the chaos-monkey-for-spring-boot version 2.2.0

I cloned this repository, follow the instructions https://github.com/piomin/sample-spring-chaosmonkey and update the version. When I try to consume http://localhost:8091/actuator/ch

[2020-03-28 17:37] yurynino commented on #72
Hi, good morning:

In am getting the same issue trying to follow this tutorial https://piotrminkowski.com/2018/05/23/chaos-monkey-for-spring-boot-microservices/ but with the chaos-monkey-for-spring-boot version 2.2.0

I cloned this repository, following these instructions https://github.com/piomin/sample-spring-chaosmonkey, after that I updated the version of chaos-monkey-for-spring-boot. When I t

[2020-03-31 15:17] WtfJoke commented on #72
Hi @yurynino
Thanks for letting us know about this example.
I will set up the tutorial on friday and see how it works (or not :D). For now your provided steps, seem to be enough :)

Will provide you feedback then. Hope thats ok and you are not blocked by it and can continue to test/using it.

[2020-04-01 06:25] sunnyaimx2 commented on #71
did u get the answer for this, i am hitting the same issue.

[2020-04-03 12:44] WtfJoke commented on #72
I was able to reproduce the problems after some effort, but it took me some time:
Followed the tutorial, but I needed to make some additional adjustments:
1. With latest mysql (8.0.19) it didnt work so I needed to adjust the run command to run mysql 5.7 which probably was latest when the blogpost was written:
[code]
2. Needed to adjust all application.yml mysql connection string from
`url: jdbc:my

[2020-04-03 13:07] maiksensi commented on #72
let me know if you want some help 🆘

[2020-04-03 17:16] WtfJoke commented on #72
The fix of https://github.com/codecentric/chaos-monkey-spring-boot/issues/38 is the reason why we have this problem.

When we remove @Validation Annotation there isn't any serialization problem when accessing actuator. However then the validation doesn't happen anymore.

So we run into a question similar to this [SO-Post](https://stackoverflow.com/questions/49898311/serializing-a-validated-class)

[2020-04-04 10:32] WtfJoke commented on #72
Fix from https://github.com/WtfJoke/chaos-monkey-spring-boot/tree/fix72 is working :tada:
I just forgot to remove `@Validation` yesterday :man_facepalming: :woman_facepalming:   Will soon create a PR.

[2020-04-04 20:36] yuryninor commented on #72
Thanks a lot Manuel. As soon as I am going to update the version of my
gameday tool!

On Sat, Apr 4, 2020 at 5:33 AM Manuel <notifications@github.com> wrote:

--

[2020-04-06 14:42] maiksensi commented on #172
The docs need a restructuring. That being said, I think we should add a short info that this is the intended behavior. I basically feel that there is need for both cases. @rusyasoft if you want to implement something that works in a more "predictable" way, feel free to discuss some details here with us and then add a PR. We are happy to help and contributions are always welcome.

[2020-04-08 17:22] WtfJoke commented on #72
Hi Yuri Nino

As you might have seen, we have a fix in #174.
We want to analyze it further, since were not fully satisfied with the solution (would complicate things in further maintenance in long term)

The issue only happens when Spring Cloud Dependencies are included. But depending on the project even then, the serialization sometimes works.

If you have by any chance a smaller sample project,

[2020-04-10 21:41] yurynino commented on #72
Hi,

Thank you very much! I have upgraded the version in my toolbox and it is
working perfectly.

https://github.com/yurynino/conf-devopsdays-chaos-gamedays
https://github.com/yurynino/conf-devopsdays-chaos-gamedays/blob/master/3_run/product-service/pom.xml

I really appreciate it!

On Wed, Apr 8, 2020 at 12:23 PM Manuel <notifications@github.com> wrote:

--
Yury Niño
Ingeniera de Sistemas
MSc en

[2020-04-14 07:52] maiksensi commented on #72
Hey @yurynino,

thank you for your patience. The second link didn't work for me, so I guess it is this one: https://github.com/yurynino/conf-devopsdays-chaos-gamedays/blob/master/2_experiment/product-service/pom.xml, right? It looks like you updated to the latest stable of chaos monkey for spring boot. So far, we didn't push any changes to a new stable, so I am a little bit confused. Also, are you

[2020-04-14 12:51] yuryninor commented on #72
Hi Manuel:

My apologies, precisely I moved the code last weekend ... sorry. I verified
again the endpoint http://{{url}}:8091/actuator/chaosmonkey  it is not
working :( I guess the last time it took a cache in postman. Let me know,
please how can I help you ... I am going to complete this toolbox with a
video ... if you want, when I finish it, I could send you.

Thanks again!

On Tue, Apr 14, 202

[2020-04-17 19:37] dbyrne28 opened #176 "error starting chao enabled profile"
I seem to have an issue similar to #118 but it is not fixed using release 2.2.0 or 2.3.0-SHAPSHOT. org.springframework.context.ApplicationContextException: Unable to start web server; nested exception is org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'org.springframework.boot.autoconfigure.web.servlet.DispatcherServletAutoConfiguration$DispatcherSer

[2020-04-17 19:41] dbyrne28 commented on #176
Spring versions:
spring-aop-5.0.6.RELEASE.jar
spring-aspects-5.0.6.RELEASE.jar
spring-beans-5.0.6.RELEASE.jar
spring-boot-2.0.2.RELEASE.jar
spring-boot-actuator-2.0.2.RELEASE.jar
spring-boot-actuator-autoconfigure-2.0.2.RELEASE.jar
spring-boot-autoconfigure-2.0.2.RELEASE.jar
spring-boot-configuration-processor-2.0.2.RELEASE.jar
spring-boot-starter-2.0.2.RELEASE.jar
spring-boot-starter-actuator-2.0

[2020-04-17 21:10] maiksensi commented on #176
Hey @dbyrne28,
thanks for submitting this issue and the versions you used. For us it is very hard (if not impossible) to reproduce and debug this without a minimal reproducable example. If you can supply one, that would definitely help, because otherwise I don't see us tracking this down anytime soon.

[2020-04-17 21:11] maiksensi commented on #170
related PR which introduces spotless ❤️ : #175

[2020-04-18 15:35] dbyrne28 commented on #176
Thank you for your consideration. Our app is complex and the time needed to track this down would be great. We have discovered that rolling back to version 2.0.0 fixed the issue if that helps.

[2020-04-19 09:14] maiksensi commented on #176
Rolling back to 2.0.x may be a valid approach for you, depending on what features you need. Make  sure to check whether your spring boot version is supported: https://codecentric.github.io/chaos-monkey-spring-boot/#support.
However, in order to help you, we need you to help us. That said, if the bug is similar to the one you linked, a sample project (using the spring boot initializr) with your spr

[2020-04-19 09:16] maiksensi commented on #165
👍 from me on all of your points. Maybe @MrBW can answer your last question. I haven't had a in depth look at it so far.

[2020-04-19 09:22] maiksensi commented on #149
Hey @buderre,
did you have some time to create a small example? If you fixed  the issue, please let us know what you did do. We are curious! I will close this issue in about weeks, but feel free to re-open it whenever you're ready.

[2020-04-21 08:59] Zerotul commented on #149
Hey guys. I suffer from this too. I reproduced the behavior in a simple project https://github.com/Zerotul/chaos-monkey-starting-filter

[2020-04-21 11:25] maiksensi commented on #149
@Zerotul thanks for the example 🙇 . I'll have a look at it.

[2020-05-01 12:20] Ravigupta-0 commented on #37
org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'electoralController': Unsatisfied dependency expressed through field 'electoral'; nested exception is org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'electoralServiceImpl': Unsatisfied dependency expressed through field 'applicationrepo'; nested exceptio

[2020-05-01 12:24] maiksensi commented on #37
@Ravigupta-0 please format your stacktrace properly. A guide can be found here: https://guides.github.com/features/mastering-markdown/. Also, please describe your problem and if possible provide us with a minimal example project reproducing the issue  you're facing. If you're having general questions about chaos monkey for spring boot, please use stackoverflow and tag it with chaos-monkey-spring-b

[2020-05-06 12:23] priyadarshni1828 opened #178 "Inconsistent pattern for values of Level field"
I am using below assault configuration to inject latency assault in my spring boot application which is deployed on PCF.
"assaults_configuration": {
                        "level": 2,
                        "latencyRangeStart": 10000,
                        "latencyRangeEnd": 10000,
                        "latencyActive": true,
                        "exceptionsActive": false,

[2020-05-08 05:07] fletchgqc commented on #178
Duplicate of #172. Please see explanation there.

[2020-05-08 05:07] #178 closed

[2020-05-12 21:31] carlos-rodrigues75 opened #179 "[Feature Request] Allow to specify different assaults to `watchedCustomServices`"
Me and other devs from my company really like the library and would like to use it in some projects in the company, but reading the code we realised that the assaults are executed randomly across all watchers, don't having a more fine grained way to configure watchers.

For instance, it's not possible to configure a watcher for class A with only latency assault and class B with only Exception Assa

[2020-05-14 12:27] maiksensi commented on #179
👋 Hey @carlos-rodrigues75,
thanks for reaching out with this. Glad to hear CMSB is of use to you. I think the general idea is great. Before going into development, let's ask @WtfJoke and @fletchgqc what they think. From my side 👍.

Before starting development, I think the details are important here. For example:
- How would the new API look like?
- Would existing endpoints change? (I guess so)
- W

[2020-05-14 13:00] fletchgqc commented on #179
In principle it sounds good. We should try to offer advanced functionality whilst keeping it simple to understand for people that are getting started. Great that you would build it.

I would like to hear more about your story. It sounds as if you considered using the tool, but didn't start because it doesn't have all the functionality you need. I would expect that the normal way things happen is t

[2020-05-15 17:09] WtfJoke commented on #72
Hi Yuri

Sorry for letting you wait for so long.  :sweat: Me and @maiksensi started to analyze it, but didnt found the time to actually finish it.

Now I created #180 which should fix the behaviour. I think as soon as the PR is merged, we would then publish an updated version or at least a snapshot so that you can test it.

I will also verify the fix on your example from the blog in the next days.

[2020-05-16 16:56] carlos-rodrigues75 commented on #179
Hi @fletchgqc! I see your point and totally agree with you.

Actually seems that we are trying to use the lib the wrong way. Researching about it we see the real use cases of the lib (and the integration with the chaos toolkit).

Our use case is that we have something like a "continuous test" that put some fake data in production, our point is to break this continuous flow using the lib, but in th

[2020-05-17 16:23] WtfJoke commented on #72
It fixed that issue :tada:
![grafik](https://user-images.githubusercontent.com/7139697/82154026-792aeb80-986b-11ea-8fe2-bf98f742feff.png)

[2020-05-26 08:04] maiksensi commented on #176
closing this for now, feel free to reopen it once more information can be provided.

[2020-05-26 08:04] #176 closed

[2020-05-27 17:10] WtfJoke commented on #72
Hi @yurynino

My PR was reviewed and I was able to merge it today.
The fix for this issue is included in `2.3.0-SNAPSHOT`.

Can you please verify this with your application, that this error doesn't appear anymore? Thanks in advance 🙏

You can enable chaos monkey snapshots by adding the snapshot repository (its also described [here](https://codecentric.github.io/chaos-monkey-spring-boot/#snapshots)

[2020-05-28 03:33] yurynino commented on #72
Hi:

Sure! sorry for my late responses ... I was sick, but let me work on this
tomorrow.

Thank you very much!

On Wed, May 27, 2020 at 12:10 PM Manuel <notifications@github.com> wrote:

--
Yury Niño
Ingeniera de Sistemas
MSc en Ingenieria de Sistemas y Computación
Universidad Nacional de Colombia

[2020-06-01 17:44] carlos-rodrigues75 commented on #179
@maiksensi @fletchgqc I'm closing this issue and I'll open another to discuss the behaviour that the application won't start when there are `final` beans in the `applicationContext`.

[2020-06-01 17:44] #179 closed

[2020-06-03 17:27] mbouchenoire opened #181 "Feature request: random factor for runtime assault scheduling"
Hello,

I see two issues with the current runtime assault scheduling:

1. It's predictable since we know when the assaults will take place
2. Using Kubernetes when pods are started - almost- simultaneously (which happen the majority of the time) the assaults also happen - almost - simultaneously, which is not really what will happen without this library (even though it could, yes).

Edit : I know

[2020-06-05 08:05] maiksensi commented on #181
Hey @mbouchenoire,
the described behaviour is partly intended. When this was implemented we wanted it to be predictable so correlating logs and traces would be easy. I see your point that there are use cases where you don't want it that predictable, but I guess you can help yourself with SpEL.
For the second part, I normally keep CMSB deactivated when I start up my applications. When everything is

[2020-06-05 08:08] #170 closed

[2020-06-05 08:09] #165 closed

[2020-06-05 08:11] maiksensi commented on #149
Hmm I had a fast look at it this morning. But to be honest, I need more digging into this because so far I don't have a clue on how to solve this :(. Any suggestions?

[2020-06-08 15:49] WtfJoke commented on #181
Hi @mbouchenoire

1. I agree with @maiksensi on first point, that the runtime assaults were made to be predictable (either using cron expressions or calling the `/assaults/runtime/attack` rest endpoint).

2. Usually I use CMSB also with the `/enable` endpoint (like maik described).
The behaviour you describe shouldn't apply to Runtimeassaults (killApp/memory) in my opinion.
As far as I am aware of

[2020-06-08 15:53] WtfJoke commented on #158
Quick update. For another project I used the gradle release plugin in combination with github action, which does the releasing. I think it could work for us too. In that project we created an issue as a trigger for release (but that was just the most suitable way for that project, we could do another one as well)

[2020-06-09 05:10] fletchgqc commented on #158
I had quite some experience with the mvn release plugin a few years ago. However, I'm now using Gradle for new projects and tend in that direction. And if @WtfJoke has some experience there, I think it's the right way for us.

[2020-06-10 03:35] liquanjin opened #182 "spring-boot 2.1.9 can used chaos-monkey-spring-boot which version"
## Expected Behavior

pass my test，spring-boot 2.1.9 project only can used chaos-monkey-spring-boot version is 2.0.0、2.0.1、2.0.2，can‘t used version is 2.1.1、2.2.0 and 2.3.0-SNAPSHOT.

Why support spring-boot 2.1.9 in 2.0.2 after version ?

## Current Behavior

when i used 2.1.1 and after version， will thrown exception

[code]

## Possible Solution

i seed source code in ChaosMonkeyConfiguration.cl

[2020-06-10 08:47] maiksensi commented on #182
Hey @liquanjin,

thanks for reporting this. It looks like this is because of your Kafka plugin also using a TaskScheduler? I never had a look at the `@Nullable` part, but I guess It is so that you can configure a cron task via the REST API.
Did you try updating your spring boot version to the last GA release 2.1.14 - or even better to the current stable 2.2.7 or 2.3.0?
I don't really get what your

[2020-06-10 08:50] maiksensi commented on #172
Closing this. Feel free to reopen it if needed. If we need a docs update we can create a new issue.

[2020-06-10 08:50] #172 closed

[2020-06-10 08:50] maiksensi commented on #158
I want to have a look at this again in the near future. Let's see if I get to it on Friday.

[2020-06-11 02:03] liquanjin commented on #182
He @maiksensi  ，Thank your reply。

I reply  your question and advice。

- No.1：

**Answer：**

- No.2：

**Answer：**

- No.3：

**Answer：**

THX

[2020-06-11 02:28] liquanjin commented on #182
Hi, @WtfJoke . Thank your reply 。

Your reply given me some idea to fix this question。

At this same time，i think this question：chaos-monkey-spring-boot depend TaskScheduler Bean，Why  chaos-monkey-spring-boot  can’t configure a TaskScheduler Bean by myself，But rely on external TaskScheduler Bean。

I think defined a TaskScheduler Bean by myself is best way to fix this question。

[2020-06-11 18:53] mbouchenoire commented on #181
I understand that the current behavior is intented, but I'm advocating for an alternative, being *actual* chaos :).

On an other note, I don't know if it's related to this issue but I think it is : I'd to enable the KillApp and Memory assaults with different timings (even if not random). Currently, as far as I understand it you cannot schedule those 2 assaults independently, thus you cannot use th

[2020-06-12 13:03] fletchgqc commented on #181
I must say, I quite like the idea of really being able to randomly kill the application. I wonder what the input for that would look like? Maybe the amount of times, on average, that the system should be killed per year? So 365 would be: about once per day. This would go in the direction of the original Netflix CM idea.

That said, I tend to do CE in controlled and limited timeframes. So I have no

[2020-06-12 13:06] fletchgqc commented on #181
Also, if you want to continually and randomly kill applications, you need to build a mechanism that will keep the config when they restart. You could do this via property files. If you configured via Actuator, the config would be lost after the first restart.

One does begin to wonder whether this might be better achieved with a remote process (like Netflix did) rather than trying to build this in

[2020-06-12 13:52] maiksensi commented on #181
@fletchgqc thanks for the thoughts and thanks @mbouchenoire for raising this.
Let's focus on the three raised points:

- Randomness: Is there any way you can build a script around your app that does randomly kill the app using the provided actuator rest endpoints? I guess that would give you way more flexibility. I am not even sure the cron killing makes to much sense in CMSB. CMSB should only tak

[2020-06-12 19:39] mbouchenoire commented on #181
I think this approach is a bit limiting, some people might want to test some "spikes" when the application gets killed multiple times a day. Here is a random cron that kills the application multiple times a day (I'm currently using it) :

`runtime-assault-cron-expression: ${random.int[0,59]} ${random.int[0,59]} */${random.int[1,7]} * * ?
`

This is not necessary if you use a random cron (like show

[2020-06-15 02:05] yurynino commented on #72
Hi!

Thank you very much for your interest in fixing this issue. I have recovered the project here https://github.com/yurynino/learning-chaos-springboot/tree/master/exercises.

I updated the version in the pom:
<dependency>
			<groupId>de.codecentric</groupId>
			<artifactId>chaos-monkey-spring-boot</artifactId>
			<version>2.2.0</version>
		</dependency>

And I enabled chaos monkey snapshots by a

[2020-06-15 10:07] WtfJoke commented on #72
Hi Yury,

Not sure if it was a typo, but the version should be `2.3.0-SNAPSHOT` instead of `2.2.0`.
In 2.2.0 the bug should still appear. 😅

Can you verify that?
Hope you recovered good and are now healthy again.

[2020-06-15 19:31] yurynino commented on #72
Hi:

Thanks for your message. I am confused ... it works with the version 2.2.0 and 2.3.0-SNAPSHOT. In any case, it works now :)

Thanks a lot, regards.

[2020-06-16 07:32] WtfJoke commented on #72
Allright, thank you for the feedback :D

Fixed by #180

[2020-06-16 07:32] #72 closed

[2020-06-18 09:22] juanpablo-santos commented on #149
Hi @maiksensi,

came across with https://github.com/spring-projects/spring-boot/issues/8605 recently, which seems to be the same issue and suggests some workarounds.

HTH

[2020-06-22 13:42] maiksensi commented on #182
hey @liquanjin,
this seems answered. If you have other questions, feel free to ask them on stackoverflow as we tend to use that for questions regarding the usage. If you think your issue is a bug, please open a new one, and we can discuss the details there.

[2020-06-22 13:42] #182 closed

[2020-08-03 07:56] smreddy2004 opened #184 "ChaosMonkeyConfiguration class issue while injecting Parameter 0 of method scheduler with consul Spring Boot"
I have a Spring Boot Hoxton.SR6 application and when I start to use both chaos-money and consul-discovery

		<dependency>
			<groupId>de.codecentric</groupId>
			<artifactId>chaos-monkey-spring-boot</artifactId>
			<version>2.2.0</version>
		</dependency>

		<dependency>
			<groupId>org.springframework.cloud</groupId>
			<artifactId>spring-cloud-starter-consul-discovery</artifactId>
		</dependency

[2020-08-10 04:44] SravanMaddipati opened #185 "Unable to register Bean exception, when setting the watcher - repository to true"
Hi,

Currently am using Springboot 2.1.5 version and chaos monkey version of 2.0.2 along with swagger 2.9.2

When i start the application, making the watcher - repository set to true, am getting the below exception from springfox and application is  not getting started up.

PFB the log:

The bean 'org.springframework.context.annotation.internalScheduledAnnotationProcessor', defined in class path r

[2020-08-10 08:22] maiksensi commented on #184
Hey @smreddy2004,

I didn't have the time to look at the problem in detail, but if you have an idea on how to fix it, feel free to open a MR and we can discuss details there. Do you think your proposed fix will have side effects?

[2020-08-10 08:23] maiksensi commented on #185
Hey @SravanMaddipati,
that sounds alot like  this is interfering with our addition of  a swagger api by @fletchgqc. Maybe he knows what todo. To me it looks like we either remove our swagger ui in such a case (that is probably what the bean definition overriding = true will do) or we remove it completely. Any other suggestions?

[2020-08-10 10:01] SravanMaddipati commented on #185
Hi @maiksensi ,

I got your point, that by removing swagger ui we can eliminate the issue..but the thing is i need both to be in place and hence looking for an alternative solution.

[2020-08-10 10:38] SravanMaddipati commented on #185
If i remove the swagger configuration am getting the error of same type this time with micrometer dependency related to metrics.

PFB logs for the same:

Error creating bean with name 'meterRegistryPostProcessor' defined in class path resource [org/springframework/boot/actuate/autoconfigure/metrics/MetricsAutoConfiguration.class]: BeanPostProcessor before instantiation of bean failed; nested excep

[2020-08-10 11:07] maiksensi commented on #185
Hmm, this looks like a different problem. As it is about the ProxyCachingConfiguration not able to handle CrudRepository. I am not sure this is related. If you can give us a minimal reproducible example (preferably a git repo which we can check out) we can have a look at it. Maybe it makes sense to open a another issue?

[2020-08-10 13:01] smreddy2004 commented on #184
Hi @maiksensi ,

I don't think the fix will have any side effects. Today by default it autowires 'taskScheduler' bean since it is the only TaskScheduler bean available. But with consul in the classpath now there is conflict because of another TaskScheduler bean available named 'catalogWatchTaskScheduler'.

I am new to contributing code on github, so I believe when you say "open an MR", you are ref

[2020-08-10 13:26] maiksensi commented on #184
This is absolutely what I ment. Sorry that I didn't made myself more clear. Currently, we don't have much time to help move this project forward, so your contribution is highly appreciated. Let me know if I can help you with anything with the changes.
Our contribution guide should help you setup the project: https://github.com/codecentric/chaos-monkey-spring-boot/blob/07b111deca6e195b03e56f0d82254

[2020-08-12 11:50] smreddy2004 commented on #184
@maiksensi  Sure. I will work on it.

[2020-08-19 07:36] #184 closed

[2020-09-11 10:09] sunnyaimx2 opened #187 "APPLICATION FAILED TO START with error Unsatisfied dependency expressed through method 'messaging' parameter 0; nested exception is org.springframework.beans.factory.NoSuchBeanDefinitionException: No qualifying bean of type"
I am using ChaosMonkey 2.3.0-SNAPSHOT with springBootVersion = '2.3.2'. The tools works seamlessly with its older version 2.0.2. I have upgraded my spring version now and was looking for new features like memory assault, Thus i planned to upgrade my CM4SB to latest snapshot and fork it for some more feature. Unfortunately, with above mentioned spring and CM4SB version, my application fails to star

[2020-09-14 09:41] sunnyaimx2 commented on #187
this seems working with latest pull

[2020-09-14 09:41] #187 closed

[2020-10-25 13:39] abhishekans21 opened #188 "Enhancement to automatically ignore Final classes in watcher Aspect classes"
Hi,
Currently I am using spring boot version 2.1.6 and chaos monkey version 2.1.1

I have a final class with @Component annotation, unfortunately it is imported from a third party library and thus cannot be made "non-final".

**The issue I am facing is as follows:**
When I start my application the **SpringComponentAspect** tries to do a pointcut on all the classes in my application that have a @Co

[2020-10-28 19:43] LogicBig opened #189 "Custom annotation on Spring bean not found"
When we enabled Chaos-monkey during bootstrap time,  custom annotation @MyAnnoation not found on spring beans annotated with @Service (which is also annotated with @MyAnnoation)

` @Service
 @MyAnnoation
 public class MyService{

 }`

... more such services

@Component
public class AnotherBean{

 @Autowired
 private List&lt;MyService> services;

@PostConstruct
private void init(){
   for (service

[2020-10-28 20:13] pgxyz commented on #189
This works in version 2.0.2 but fails in version 2.2.0

[2020-10-30 10:13] WtfJoke commented on #188
Hi @abhishekans21

Thanks for your bug report. Yeah I think it would make sense to exclude final classes in the Aspect classes.

Until this is fixed, you can try to configure different watchers (instead of component).
Or if you need to attack `@Component` you can customize the watchers to only include the components you want using the property `watchedCustomServices` see https://codecentric.github

[2020-10-31 10:30] abhishekans21 commented on #188
Hi @WtfJoke

watchedCustomServices is helpful when I want to set assaults on a specific @Component, but this bug won't allow the application to boot up successfully. In my case, I followed a workaround by overriding the Bean definition for **componentAspect** , this helped me in deploying my application, without having to worry about Spring AOP complaining about final classes.

On the contrary, th

[2020-11-06 15:36] #188 closed

[2020-11-06 15:36] fletchgqc commented on #188
Closed by https://github.com/codecentric/chaos-monkey-spring-boot/pull/191. Great first PR @sappo. Thanks for the report and showing us the solution @abhishekans21 - the other PR is a more complete so we'll go with that one.

[2020-12-16 09:50] chainho opened #193 "ChaosMonkey assaulted before application started"
The chaosMonkey assault will fired when Spring boot application starting. So if there is a bean contains a `@PostConstruct` and this method will invoke another Service/Bean method, now  RuntimeExcetpion will generate, and the start flow will block.

Does chaosMonkey  have a configuration, support fired later,       when the application started finished

Thanks in advance.

[2020-12-21 08:13] WtfJoke commented on #193
Hi @chainho
You could disable the chaos monkey and enable it by the actuator endpoint after your application is fully started.

Check out the docs about [the actuator endpoint](https://codecentric.github.io/chaos-monkey-spring-boot/2.2.0/#endpoints)

[2021-01-02 21:58] WtfJoke commented on #193
I'll close this, feel free to comment if you still need help

[2021-01-02 21:58] #193 closed

[2021-02-02 18:25] georgeharley opened #197 "Spring Boot compatibility differs depending on type of usage"
## Expected Behavior

When using CM4SB 2.3.0 I would expect the version of Spring Boot that it can be used with to be the same whether CM4SB is a build-time dependency of the Boot project (i.e. a Gradle/Maven dependency) or else an external runtime dependency (used against an existing Spring Boot executable Jar with the PropertiesLauncher).

## Current Behavior

When used as a build-time dependenc

[2021-02-04 02:19] alexfincham opened #199 "Proxying classes that implement BeanPostProcessor or ApplicationEventListener interfaces leads to errors during app startup"
## Expected Behavior

chaos-monkey-spring-boot should be compatible with classes that are annotated with `@Component` or `@Service` and implement `org.springframework.beans.factory.config.BeanPostProcessor` or `org.springframework.context.ApplicationListener` interfaces

## Current Behavior

if the client app needs to do any bean introspection and is using the **`org.springframework.beans.factory.

[2021-02-04 09:42] chuwennan opened #201 "A question: Do we have plan to support @Bean watcher?"
A question but not a bug.
Do we have plan to support @Bean watcher?

[2021-02-05 09:16] WtfJoke commented on #197
Hi @georgeharley

Thanks for reaching out to us about that, hank you for checking the compatibility with various versions and the analysis.

I think the "easiest" solution would be to make a CMSB release based on spring boot 2.3.7 so we have the correct class bundled.

[2021-02-11 21:13] devenparab commented on #171
hi 4n0nym1ty can you please share how have you configured the cron? That will be mighty helpful.

[2021-02-23 17:54] NicoSe opened #205 "Should work with Project Lombok`s logger"
To start with chaos engineering I found your project. It look nice to me, but it don´t work as easy as you mensioned it, because in our application I got an NullPointerException. Look the stacktrace below. Hopefully you can fix this over time.

![Screenshot 2021-02-23 184938](https://user-images.githubusercontent.com/50381227/108885290-ec863880-7607-11eb-9a4d-767e0feb995f.png)

Because of that Tom

[2021-02-25 21:38] WtfJoke commented on #201
Hi @chuwennan
Currently we dont have a plan to support `@Bean`. Do you have a specific use case in mind?

[2021-02-25 21:40] WtfJoke commented on #205
Hi @NicoSe

Can you show me an example project, which demonstrates the issue?

Chaos Monkey for Spring Boot is compatible with projects which uses lombok, see https://github.com/fletchgqc/mediator for example. We dont use logger, there, so that might be worth testing.

[2021-03-08 05:38] muskans71 opened #206 "Application fails to start up on adding chaos monkey"
My spring boot application works fine but when I add spring.profiles.active=chaos-monkey in application properties, it fails to start up. `org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'chaosMonkeyRequestScope' defined in class path resource [de/codecentric/spring/boot/chaos/monkey/configuration/ChaosMonkeyConfiguration.class]: BeanPostProcessor before inst

[2021-03-08 15:28] niebomin opened #207 "Question: how to inject this into k8s pod"
My system is deployed in k8s cluster.  Is there a way dynamically inject those chaoses into containers?

[2021-03-19 16:59] checketts commented on #93
@fletchgqc Its been a year. Have you done any further work with WebClient? I looked at your PR https://github.com/fletchgqc/chaos-monkey-spring-boot/pull/2/files to see if there is any code I could 'borrow' But didn't see any support for adding/removing it using the typical chaos monkey configs.

[2021-03-22 16:14] Bknisan opened #208 "Application fails to start once having BeanPostProcessor implementation"
application  fails to start once BeanPostProcessor interface implemented due to circular dependency.

error log:

Caused by: org.springframework.beans.factory.BeanCurrentlyInCreationException: Error creating bean with name 'chaosMonkeyRequestScope': Requested bean is currently in creation: Is there an unresolvable circular reference?
	at org.springframework.beans.factory.support.DefaultSingletonBe

[2021-03-24 01:28] alexfincham opened #209 "ENV properties can clash with chaos monkey properties and prevent app from starting up"
## Expected Behavior

chaos-monkey-spring-boot properties should not clash with any other client app properties

## Current Behavior

Environment properties currently have a name clash with chaos monkey properties (i.e. **ENABLED=foo** clashes with **chaos.monkey.enabled**).  Here is the top level error if the client app is run with **`ENABLED=foo`** environment variable:
[code]

## Steps to Repro

[2021-03-26 11:05] WtfJoke commented on #207
Hi @niebomin

I personally havent used chaos monkey in a k8s cluster yet, but I think @fletchgqc did (maybe he can tell you more).

However it should work the same way like in a non kubernetes way.
You can use actuator to enable chaos monkey.

A more k8 way of doing this, if you have a k8s deployment, you simply could set the spring profile via environment-variables. Then your containers get updat

[2021-03-26 15:20] WtfJoke commented on #206
Hi @muskans71
Can you please provide a minimal working example repo, which demonstrates this error? Then we can have a look at it.

[2021-03-26 16:16] WtfJoke commented on #208
Hi @Bknisan would be great if you can provide a minimal example project so we can reproduce this and eventually fix this

[2021-03-26 16:35] Bknisan commented on #208
Hi @WtfJoke, the project is not the point here. it is reproducible in any spring boot project with any compatible chaos monkey version.
Here are the steps to reproduce:

1. create a dummy spring boot project with "spring-boot-starter-actuator", "spring-boot-starter-web" and "chaos-monkey-spring-boot" as the dependencies in the pom.xml file.
2. create one class annotated as a "RestController" with

[2021-03-26 17:22] Bknisan commented on #208
after digging into previous issues I see this one is a duplication of  #199.
I see the last merge provided a fix for this #200.
somehow the latest version I can consume is "2.3.2" and the errors still occur there.
can you advise? @WtfJoke

[2021-03-26 18:09] WtfJoke commented on #208
We havent put out a release since this fix. You can use the latest snapshot 2.3.2-SNAPSHOT and verify if the error gets solved.  See here the docs for how to use snapshots --> https://codecentric.github.io/chaos-monkey-spring-boot/#snapshots

[2021-03-27 08:27] Bknisan commented on #208
solved in snapshot

[2021-03-27 08:27] #208 closed

[2021-03-27 23:02] #209 closed

[2021-03-29 15:38] checketts opened #212 "Interested in ability to enable/disable chaos via feature flags?"
Currently you can configure CM4SB via properties and acutator endpoints. However, I would like to contribute code that would leverage the Unleash feature switch library to enable/disable chaos.

For example, the workflow I want to use is this:

- Unleash will be an optional dep for CM4SB
- Unleash configuration will check if the Unleash class is on the classpath
- If the user enables a feature fla

[2021-04-07 01:44] chuwennan commented on #201
Hi WtfJoke,
Thanks for your reply.
Yes, we had configured some beans using @Bean in @Configuration class, and want to inject chaos monkey assaults into these beans directly. It is convenient if we can support @Bean watcher, otherwise we have to refactor our codes.

[2021-04-07 16:25] #197 closed

[2021-04-09 20:19] WtfJoke commented on #208
Wanted to let you know that we just released 2.3.9, which contains the fix, see https://github.com/codecentric/chaos-monkey-spring-boot/releases/tag/v2.3.9

[2021-04-09 20:21] WtfJoke commented on #197
We just released 2.3.9 (We skipped 2.3.7/2.3.8) https://github.com/codecentric/chaos-monkey-spring-boot/releases/tag/v2.3.9 - let me know if it works :)

[2021-04-11 19:02] georgeharley commented on #197
The good news is that the **NoSuchMethodError** which gave rise to this issue no longer occurs when using `chaos-monkey-spring-boot-2.3.9-jar-with-dependencies.jar`. The bad news is that using the Jar there's no sign of any CM4SB activity at all - no sign of the "ready to do evil" message in the Spring Boot web application's startup log and no sign of any attacks when requests are sent. This is th

[2021-04-11 21:54] WtfJoke commented on #197
Yeah, just verified, it doesnt work with 2.3.9. I tried locally with 2.3.7 and even that upgrade seems to break the functionality using the external jar.

It seems to be connected with spring version upgrade. As I was able to run it using 2.3.7 and Spring version 5.2.11 (instead of 5.2.12)

[2021-04-13 09:14] rd-evgeni-ivanov opened #217 "Repository watcher and exception assault is not working"
When using Chaos Monkey 2.3.* and the latest Chaos Toolkit, an experiment with a repository watcher and an exception assault is not throwing the exception.
With Chaos Monkey 2.2.0 the same experiment is working properly.
This can be reproduced with https://github.com/TechPrimers/defensive-demo

[2021-04-13 17:48] georgeharley commented on #197
Hi @WtfJoke, finally got some time to look at this again.

Looks like there might have been a build problem creating the 2.3.9 external dependencies Jar - its **META-INF/spring.factories** file appears to contain lots of Spring Boot configuration but does _not_ include the crucial autoconfiguration reference to `de.codecentric.spring.boot.chaos.monkey.configuration.ChaosMonkeyConfiguration`. That

[2021-04-13 19:01] georgeharley opened #218 "External dependency Jar file broken in 2.3.9 release"
## Expected Behavior

Using the version 2.3.9 external dependencies Jar (chaos-monkey-spring-boot-2.3.9-jar-with-dependencies.jar) to introduce chaos attacks to an existing executable Spring Boot Jar should work [as described in the documentation](https://codecentric.github.io/chaos-monkey-spring-boot/latest/#_external_dependency_jar_file).

## Current Behavior

With the 2.3.9 external dependencie

[2021-04-13 19:02] georgeharley commented on #197
Opened #218

[2021-04-14 03:26] checketts commented on #212
@WtfJoke Sorry to bump this issue. But I would really love to contribute a PR for this if it isn't too out of scope for this project. I'm happy to clarify my usecase if you like.

Here are some benefits why I prefer feature flags over actuator endpoints:

* Since the service pulls in their flag states, we can be sure that each system in a cluster has the same configuration
* Using feature flags I

[2021-04-16 14:20] WtfJoke commented on #212
Hi @checketts

Sorry for the late reply, currently I'm quiet occupied :see_no_evil:

Although I like the idea and can see a benefit, I'm a bit worried about the maintenance efforts after a potential PR is merged. And we should then probably support other feature flag libraries such as Togglz.

Can you eloborate a bit more how that would work?

[2021-04-16 14:25] WtfJoke commented on #218
Thanks @georgeharley for your detailed report.

I made some additional tests during the last few evenings. It wasnt happening with spring boot 2.4.4 and 2.3.2.

On my windows machine with 2.3.9 they were two spring.factories file in the jar. The one you mention (which is the default of spring boot) and the chaos monkey one, however on my linux machine I had only the spring boot factories file.

Al

[2021-04-16 14:54] WtfJoke commented on #217
Thanks for the info. It seems to not working when activated with actuator. Seems to be caused by the fix of #200

[2021-04-16 15:07] WtfJoke commented on #199
We need to undo (or update) the fix. You cant enable chaos monkey anymore with actuator

[2021-04-16 15:30] checketts commented on #212
I completely understand concerns around scope increase/maintenance. In fact the way I would approach it would abstract the logic so togglz (or commercial offerings like Launch Darkly) could easily be plugged in.

So the way Unleash works (and I assume most modern feature switch services do as well) is to include a 'context' when checking if a toggle is enabled. That context can include data like t

[2021-04-17 16:41] georgeharley commented on #218
I'm a bit confused by that statement as I thought there was only the one released CM4SB 2.3.9 external dependencies Jar under discussion - the [chaos-monkey-spring-boot-2.3.9-jar-with-dependencies.jar](https://repo1.maven.org/maven2/de/codecentric/chaos-monkey-spring-boot/2.3.9/chaos-monkey-spring-boot-2.3.9-jar-with-dependencies.jar) file in Maven Central. That contains a single **META-INF/spring

[2021-04-17 23:47] #217 closed

[2021-04-17 23:47] #199 closed

[2021-04-17 23:48] WtfJoke commented on #217
Should be working with the next release again, will notify you here as soon as its published

[2021-04-17 23:54] WtfJoke commented on #218
I should have been more precise. I  also should have mentioned that I have rebuild those jars locally and my whole comment/testing refered to those locally build jars (which arent published). I am aware of that the published jar is broken (thanks to your issue of course :D)

So what I meant is, that when I locally upgraded the spring boot version of chaos monkey (to either 2.3.10 or 2.4.4)  it wor

[2021-04-19 16:45] WtfJoke commented on #218
It something in the maven configuration. `./mvnw install` breaks the jar.

When I execute `./mvnw verify` the resulting jar is correct.  ✔️
When I execute `./mvnw install` the jar gets "corrupted" ❌

[2021-04-19 19:37] checketts commented on #212
In the PR #220 I added a demo app: https://github.com/checketts/chaos-monkey-spring-boot/tree/add-toggle-lookup-capabilities/demo-apps/chaos-monkey-demo-app-unleash-toggles

Now that I've written it up and played with it, the Unleash specific code is quite small (and could even be left out of Chaos Monkey) if that is preferred:

[code]

Configuration:

[code]

[2021-04-23 09:16] WtfJoke opened #223 "Bump Maven Assembly Plugin"
We currently use an older maven assembly plugin version (2.1 at the time) to pack the external jar.
In newer releases of the maven assembly plugin (2.2+) they changed how the pack the jar. This results that the spring.factories file gets messed up, see #218 .

This issue should either find a way that it works with newer versions of the assemply plugin or use an alternative like [maven-shade-plugin

[2021-04-23 10:11] WtfJoke commented on #218
Now it should be fixed with #222 and I just triggered a release of 2.3.10.  I locally tested it. Please also test it and confirm that its (finally) solved. Took longer than expected 🙈

[2021-04-23 13:56] WtfJoke commented on #217
Version 2.3.10 is published, give it a try and let me know. :)

[2021-04-24 16:27] georgeharley commented on #218
It is working great with the external dependencies Jar from the 2.3.10 release. Will close the issue now.

Thank you very much @WtfJoke for taking the time to fix this 🙇‍♂️

[2021-04-24 16:27] #218 closed

[2021-04-30 09:25] WtfJoke opened #224 "Dont deploy demo apps"
Currently all modules/demo apps gets deployed. Thats not really necessary as the only important artifacts are built in the module `chaos-monkey-spring-boot`.

We could simply skip deployment by configuring the maven deploy plugin like this:
[code]

[2021-04-30 11:56] WtfJoke opened #225 "Document extjar spring version should match"
If you use the jar with dependencies, the spring boot version needs to match (usually you get errors if the version is too apart of each other). We should document that

[2021-04-30 12:54] #223 closed

[2021-04-30 12:59] WtfJoke commented on #115
This was fixed with #204, see https://github.com/codecentric/chaos-monkey-spring-boot/blob/main/.github/workflows/releasetag.yml

[2021-04-30 12:59] #115 closed

[2021-05-28 10:24] soumyadeep-saha opened #228 ""killApplicationActive": true is not working for spring webflux aplication"
**"killApplicationActive": true** is set to **true** for all  service annotated classes, but still my application  running in intellij is not shutting down.
My application is in **spring boot 2.4.2** and i am using **chaos-monkey-web-reactive-app** and **chaos-monkey-web-reactive-app** as i am using spring webflux
I have given the **pom.xml**, **active profiles** and **chaosmonkey** status details

[2021-05-29 14:33] WtfJoke opened #230 "Improve documentation how to execute RunTimeAssaults (Kill Application, Memory)"
Currently the docs dont tell you how to execute runtimeassaults. Theyre only get executed either by a scheduled cron expression or by executing a POST REST call to  `/actuator/chaosmonkey/assaults/runtime/attack`

[2021-05-29 14:34] WtfJoke commented on #228
Hi @soumyadeep-saha

1. You have a small mistake in your pom.xml. The dependency is `chaos-monkey-spring-boot` even on a webflux. The `chaos-monkey-web-reactive-app` is actually the demo app, which were testing the functionality. With the next version we wont publish these artifacts anymore (see #224)
[code]

2.  The Kill Application and Memory Assault can only be triggered using either a Schedule

[2021-05-30 17:32] soumyadeep-saha commented on #228
Hi @WtfJoke
Thanks for your response:)
actuator/chaosmonkey/assaults/runtime/attack (POST) with no body in POST call seems to kill the application now

But still I have few questions, could you please help me out with those please
1. Can we make KillApplication method specific like the way we do for latency?
2. Can this API **actuator/chaosmonkey/assaults/runtime/attack (POST)** is privileged to t

[2021-05-31 19:56] WtfJoke commented on #228
Glad it works. :)

Please ask your questions in stackoverflow (we try to keep github issues for issues only). However I'll answer them now
1. We probably could, not sure if it makes much sense, though.
2. It currently doesnt take a body
3. You can only define a cron expression for both assaults, but not separetly (https://github.com/codecentric/chaos-monkey-spring-boot/pull/183 wanted to change th

[2021-05-31 19:56] #228 closed

[2021-05-31 21:15] #224 closed

[2021-06-02 06:54] sheffalijain11 commented on #44
Hey trying to run chaos monkey on my jar with the command syntax given :

java -cp ./target/spring-boot-chaos-poc-0.1.0-SNAPSHOT.jar -Dloader.path=chaos-monkey-spring-boot-2.0.0.jar org.springframework.boot.loader.PropertiesLauncher --spring.profiles.active=chaos-monkey --spring.config.location=classpath:/application.properties,classpath:/chaos-monkey.properties

I can see chaos banner to be there

[2021-06-03 12:23] #212 closed

[2021-06-04 14:40] checketts commented on #212
@WtfJoke Are there any other issues you would like prioritized before releasing this? I would be happy to look into them.

[2021-06-07 08:16] dkdew commented on #149
hi,

i was facing this issue with custom-filters in my spring-boot app. The application fails to run with chaos-monkey profile active, when we have declared the CustomFilter with @component annotation.
The simple workaround is to create the filter with @Bean annotations.

[Here ](https://github.com/dkdew/spring-boot-chaos-monkey-starting-filter) is the example code, how i did it.
https://github.co

[2021-06-07 17:22] WtfJoke commented on #212
Nothing in particular to be honest.

I still need to review #229.

Whats on my list (not sure if it goes to the next release or the one afterswards):
- Spring Boot 2.5.0 update
- Improving the release process (I made some experiments like generating a github release with changelog).
- And I had a look how a CPU Assault could work (I think fibonacci would be a good way to generate load, you can do

[2021-06-13 21:02] antonben007 opened #231 "spring boot app in Azure spring cloud, fails to start with chaos monkey profile. due to unresolvable circular reference."
spring boot app in Azure spring cloud, fails to start with chaos monkey profile. due to unresolvable circular reference.

getting the following error:
org.springframework.beans.factory.BeanCurrentlyInCreationException: Error creating bean with name 'chaosMonkeyRequestScope': Requested bean is currently in creation: Is there an unresolvable circular reference?
I am getting this with version 2.3.10

[2021-06-21 17:52] mmerla opened #232 "Unresolvable circular reference error when FactoryBean is annotated with @Component"
## Expected Behavior
Chaos-monkey-spring-boot should work when a class implements ```org.springframework.beans.factory.FactoryBean``` and is annotated with ```@Component```. This is similar to #199.

## Current Behavior
When a class implements ```org.springframework.beans.factory.FactoryBean``` and is annotated with ```@Component``` during startup, there is an error
```FactoryBean threw exception

[2021-06-24 03:58] checketts commented on #231
Do you have a similar situation as described in #232 ? (FactoryBean is annotated with @Component)

[2021-06-24 15:43] checketts commented on #144
I changed the list to a check list and checked the items that appear to be finished.

'Code of Conduct' and 'How to Contribute' exist but aren't linked from the documentation (That I could see)

I didn't see a 'where to get help' document. Directing folks to Stack Overflow would be sufficient.

@maiksensi Did I miss anything?

[2021-06-25 13:51] #93 closed

[2021-06-25 13:55] WtfJoke commented on #231
Would be great to have a full stacktrace or even better a small demo app :)

[2021-06-25 13:57] WtfJoke commented on #232
Thank you @mmerla for reporting the issue and providing a possible solution. If you want, feel free to open a PR

[2021-06-25 14:28] mmerla commented on #232
@WtfJoke Thanks for looking at this. I will be opening a PR soon.

[2021-06-25 20:14] WtfJoke opened #235 "Upgrade to JDK11"
As more and more people are on JDK11 we could update our minimum required java version to 11.

According to the [recent 2021 jvm eco system report from snyk ](https://snyk.io/jvm-ecosystem-report-2021/) 62% use JDK 11 in production whereas 60% still use JDK 8 in production.

Not sure if we should do that already with the next release 2.5.2 or in a later release.

I prepared already the few changes

[2021-06-26 01:21] checketts commented on #235
What benefits would requiring JDK 11 provide? I'm not opposed, just want to understand if there are specific benefits. Since this project is for 'Spring Boot' it seems like we would want to follow their baseline.

About 20% of the projects that I am paid to work on are on JDK 8. (Admittedly we are slowly upgrading those)

[2021-06-26 21:57] WtfJoke commented on #235
I guess the benefit would be, that we could use jdk 11 features in our code.

Allthough as a library users perspective it makes more sense to stay on jdk 8 (as you say some folks are still on jdk 8).

[2021-07-02 07:40] WtfJoke commented on #235
I'll close this, lets stick to the baseline of spring boot.

[2021-07-02 07:40] #235 closed

[2021-07-02 15:38] WtfJoke opened #236 "Repository Watcher doesnt work (current version and on 2.4.5)"
The issue can be reproduced with current main, but also with the latest released version(2.4.5)
## Expected Behavior
If I enable repository watcher, assaults should work

## Current Behavior
When I enable repository watcher, no assaults works.

## Possible Solution

## Steps to Reproduce

1. Take one of the chaos-monkey-demo-app.
2. Disable all watchers except repository
[code]
3. Make request to

[2021-07-08 15:28] LogicBig commented on #189
Any plans to fix this issue?

[2021-07-08 19:52] checketts commented on #189
Can you create a simple project the reproduces this? That will help us look into it

[2021-07-09 11:39] WtfJoke opened #238 "Make CrudRepository methods attackable"
During the analysis of https://github.com/codecentric/chaos-monkey-spring-boot/issues/236 we figured out that attacking of CrudRepositoryMethods (eg. findAll) never worked.

We implemented a basic unit test, which reproduces the issue.
[code]

[code]

An idea would be to extend the SpringRepositoryAspectJPA in order to watch also for crudrepository methods.

[2021-07-09 11:39] WtfJoke commented on #236
Closing in favor of https://github.com/codecentric/chaos-monkey-spring-boot/issues/238

[2021-07-09 11:39] #236 closed

[2021-07-09 12:29] #232 closed

[2021-07-09 12:33] WtfJoke opened #239 "Add CPU Assault"
It would be great to add a CPU assault which puts load on your cpu to a certain amount/time.

Calculating fibonacci would probably a good way to gain load

[2021-07-15 19:29] maiksensi commented on #144
Hey @checketts sorry for the late answer :) Anyways, that is awesome. Thanks for updating ❤️ I think that looks good but the last word does have @WtfJoke :)

[2021-07-16 15:42] WtfJoke commented on #144
Tracking these as checkesboxes, looks good to me as well :)

We most likely need to improve the documentation with the spring boot compatibility (we dont follow the spring boot version anymore, eg Chaos Monkey 2.5.0 is build with Spring Boot 2.5.2).

And there we should also add the hint when you use the extjar (instead of the dependency) that the spring versions of chaos monkey and the one used i

[2021-07-16 19:42] WtfJoke commented on #238
Fixed with #242

[2021-07-16 19:42] #238 closed

[2021-07-21 17:17] WtfJoke opened #245 "Extend documentation with examples in different format/languages (gradle, kotlin etc..)"
I recently stumbled about the great documentation of [DGS Framework](https://netflix.github.io/dgs/getting-started/#adding-the-dgs-framework-dependency). Most of the examples include instructions for multiple languages/formats with tabs.

![grafik](https://user-images.githubusercontent.com/7139697/126531298-c1fdb0ec-efff-4a67-8247-7e61c0f38952.png)

We should extend our examples with different var

[2021-07-21 17:20] WtfJoke opened #246 "Enable/Disable Endpoint should show timestamp"
When doing gamedays we usually write down the exact moment we started the experiment.
Usually we enable/disable chaos monkey with the endpoints `/chaosmonkey/enable` and `/chaosmonkey/disable`. The response could extended with a human readable timestamp.

So the response has a small benefit.

[2021-07-21 22:28] MatthewBerk commented on #246
Hello @WtfJoke !
I am new to open-source contributions and I would like to attempt taking on this issue/feature adding. If you have any tips or recommendations for where to start, that would be greatly appreciated.  Thank you!

I will be attempting to load this project on my system later today!

[2021-07-22 06:34] WtfJoke commented on #246
Hi @MatthewBerk

Sure go ahead and start working on it.  Appreciate it that you want to contribute to open source 😃

The best start would be [ChaosMonkeyRestEndpoint](https://github.com/codecentric/chaos-monkey-spring-boot/blob/main/chaos-monkey-spring-boot/src/main/java/de/codecentric/spring/boot/chaos/monkey/endpoints/ChaosMonkeyRestEndpoint.java) and [ChaosMonkeyJmxEndpoint](https://github.com/

[2021-07-23 00:44] MatthewBerk commented on #246
Thank you for assigning me and for the advice. 😃

It may take me a while since I will be working on gaining an understanding of the project while trying to add this improvement. I hope that is fine with you.

[2021-07-23 09:29] WtfJoke commented on #246
No worries, take your time. :) If you have questions feel free to ask.

[2021-07-23 13:16] #225 closed

[2021-07-23 13:20] #230 closed

[2021-07-23 13:36] #239 closed

[2021-07-24 02:01] MatthewBerk commented on #246
[I didn't want to raise a new issue in case this isn't that important]
I wanted to note a small hiccup I had when trying to run this project. So when I fork and pull the project into my setup, (whether I open it in IntlelliJ first or not) and execute ./mvnw clean verify , I get this error
![image](https://user-images.githubusercontent.com/51866904/126854150-49d01b4b-461e-4b37-8f55-01784ab52cce.png

[2021-07-24 11:08] WtfJoke commented on #246
Hmm strange enough, I never experienced this error allthough I set up the repo on multiple new machines recently.

It seems like the command `./mvnw -N io.takari:maven:wrapper` should have executed after the version of the maven wrapper was updated (see [here](https://github.com/codecentric/chaos-monkey-spring-boot/blob/main/.mvn/wrapper/maven-wrapper.properties)). But the diff doesnt look like th

[2021-07-24 21:21] MatthewBerk commented on #246
Done!
I made sure it still worked before I pushed
![image](https://user-images.githubusercontent.com/51866904/126881253-d8eaea83-2da9-437e-8efa-e64fede38a74.png)

Originally I was using Java 1.8, though I switched to Java 11.0.9 and experienced the same issue from fresh pull!

[2021-07-25 00:59] MatthewBerk commented on #246
I found that the `enableChaosMonkey(),` `disableChaosMonkey()` methods in  [ChaosMonkeyRestEndpoint](https://github.com/codecentric/chaos-monkey-spring-boot/blob/40de08a801e1882885a9ba852708896d812ae055/chaos-monkey-spring-boot/src/main/java/de/codecentric/spring/boot/chaos/monkey/endpoints/ChaosMonkeyRestEndpoint.java) and [ChaosMonkeyJmxEndpoint ](https://github.com/codecentric/chaos-monkey-spri

[2021-07-25 11:16] WtfJoke commented on #246
They get executed if you make a POST request to `/actuator/chaosmonkey/enable` (/disable).

Therefore start a demo app (for example [chaos-monkey-demo-app](https://github.com/codecentric/chaos-monkey-spring-boot/tree/main/demo-apps/chaos-monkey-demo-app)) and then make a POST request to eg. `localhost:8888/actuator/chaosmonkey/enable`. Then the method is executed.

I personally use [Insomnia](http

[2021-07-27 01:55] MatthewBerk commented on #246
I will look into that Insomnia program! 😃

I feel this form seems good!
ActivatedAt: "2021-07-24T23:40:26.698"
DeactivatedAt: "2021-07-24T25:20:06.301"

[2021-07-29 03:24] MatthewBerk commented on #246
I forgot to ask this. Do you want the timestamp to reflect the users current time or stick with UTC time zone?

Launching a chaos monkey demo and going to localhost:8888 lead to this being display:
![image](https://user-images.githubusercontent.com/51866904/127426286-a7a23554-d5e8-4f22-b743-5fd9590d852c.png)
The timestamp is for UTC time zone.

[2021-07-30 08:41] WtfJoke commented on #246
Think both formats has its down/upsides.

UTC:
+ no problems with zone converting
- user might need to convert zone by itself

Server time zone:
+ most likekly better to read for user
-  timezone of server might differ than from the user
-  timezone conversion could lead to problems

However I think I still would preferr servers time zone. I think its suits the purpose better.

[2021-07-30 12:46] checketts commented on #246
I second the server time zone.

  Also, perhaps an additional attribute of 'duration' that would be human readable would help the end user understand at a glance.

[2021-07-30 15:45] WtfJoke commented on #246
Do you mean the duration of how long chaos monkey was enabled (when it gets disabled)?

[2021-07-30 17:10] checketts commented on #246
Both if it were disable and if it is still active. Seeing something : `durationMinutes: 180` make for some simple math so the caller doesn't have to worry about when something was enabled (regardless of timezone).

Duration Is probably a poor name. `minutesActive` might be clearer. It would keep counting up if it hasn't been disabled.

Feel free to ignore this idea though if it distracts from the

[2021-07-30 17:12] WtfJoke opened #257 "[Kotlin] Document necessity of gradle spring boot plugin"
The kotlin plugin for spring boot needs to be added for chaos monkey (and a lot of spring related stuff) to work.

It makes the spring classes (such as services, rest-controller etc..) open, so that spring can proxy them (and chaos monkey can attack them)

We should add that to documentation somewhere.
kotlin("plugin.spring") version "1.5.20"

[2021-07-30 20:27] WtfJoke commented on #246
I think its a great idea! However I would do that separately. But it would be a nice addition in my opinon. Maybe create a separate issue for that.

[2021-07-31 05:38] MatthewBerk commented on #246
So just to confirm, you want user specific time format, not UTC? Since the UTC timezone format is what is used on the webpage when error occurs!

[2021-07-31 05:54] MatthewBerk commented on #246
Would possibly converting it to hours be better? like if had 190 minutes. would do duration: 3 Hours, 10 Minutes.

[2021-07-31 22:09] MatthewBerk commented on #246
I agree with @checketts . That seems useful! Would we want to include hours if minutes is large enough?

[2021-08-04 07:59] #245 closed

[2021-08-06 07:53] WtfJoke opened #258 "Enable/Disable Endpoint should show duration"
Both if it were disable and if it is still active. Seeing something like: `durationMinutes: 180` makes for some simple math so the caller doesn't have to worry about when something was enabled (regardless of timezone).

Duration Is probably a poor name. `minutesActive` might be clearer. It would keep counting up if it hasn't been disabled.

Feel free to ignore this idea though if it distracts from

[2021-08-06 07:54] WtfJoke commented on #246
I'll close this here (as #254 has been merged, I referenced @checketts comment in a new issue https://github.com/codecentric/chaos-monkey-spring-boot/issues/258.

[2021-08-06 07:54] #246 closed

[2021-08-06 07:55] WtfJoke commented on #258
I like the idea. The feature is probably not that important but a nice addition.
It would make sense to have a good readable format for humans. I could imagine an output like "x hours x minutes x seconds"

[2021-08-11 00:29] MatthewBerk commented on #258
I am currently working on some other things at the moment but would still like to take on this issue!

[2021-08-13 08:33] F43nd1r commented on #158
While I do love gradle, I don't think the "Why" section in this issue is valid anymore. If we don't have another reason to switch to gradle, I'd close this.

[2021-08-13 08:39] F43nd1r commented on #144
@WtfJoke should we consider this issue solved with the recent documentation restructure? We don't have sections for the two remaining items, but I'm not sure if they're necessary.

[2021-08-13 09:04] F43nd1r commented on #90
I don't think there is anything to fix here. This is by design. The ext-jar isn't available if it isn't added externally (e.g. in the IDE test run config).

I'm not sure if this can be tested in a way which doesn't require external configuration. I'd remove the test.

[2021-08-13 11:42] F43nd1r commented on #205
This has nothing to do with lombok. See #261

[2021-08-15 14:16] fletchgqc commented on #158
I agree. If someone wants to make the switch, go for it. But we don't need an issue hanging around to remind us. We have no particular problem at the moment.

[2021-08-15 14:16] #158 closed

[2021-08-15 16:05] WtfJoke commented on #158
Yeah the why is obsolete. I guess a new why could be, that all maintainers like gradle more :D

[2021-08-17 13:13] #82 closed

[2021-08-17 13:30] WtfJoke commented on #159
I think we can close this issue.

We dropped the version compatibility matrix and instead publish the spring boot version which was used to build the cmsb release in the release notes.

Additionally no issues for such an old version was requested.

[2021-08-17 13:30] #159 closed

[2021-08-17 13:36] WtfJoke commented on #144
I think its fine to have Code of Conduct as Badge and in the root of the repo.

Where to get help could be maybe more prominent in the readme. Currently its just inside of the contributing guideline.

[2021-08-19 23:20] WtfJoke commented on #90
Lets remove it 🔥

[2021-08-20 11:44] WtfJoke commented on #90
Fixed/removed with #262

[2021-08-20 11:44] #90 closed

[2021-08-20 11:52] #257 closed

[2021-08-20 11:57] #144 closed

[2021-08-21 08:36] MatthewBerk commented on #258
More things have come up in this past week, so I will get to working on this as soon as I can! Thank you for assigning it to me!

[2021-08-24 13:53] WtfJoke opened #265 "WatchedCustomService only doesnt work with fully qualified class names"
## Expected Behavior

When I set watchedCustomService to a class it doesnt work as expected.
I need to set the fully qualified name of a method.

## Current Behavior

WatchedCustomService only works when I attack methods by using the fully qualified name of the method.

## Possible Solution

## Steps to Reproduce

## Context (Environment)

Will update the issue, when I verified the issue... (just

[2021-08-24 14:06] WtfJoke opened #266 "WatchCustomService docs needs to be improved to reflect that watcher needs to be enabled in order to work"
Its not clear from the docs that you also need to activate a watcher in order to be able to work with watchCustomService (need to verify if thats the case, still a braindump)

[2021-08-26 11:19] Tor-Nets opened #267 "Cannot set OutOfMemoryError as exception in assault"
## Expected Behavior
Chaos-monkey would throw OutOfMemoryError's in the exception assault

## Current Behavior
The commands sent to change the configuration to throw OutOfMemoryError's return error messages rather than the expected acceptance

## Steps to Reproduce
curl -H 'Content-Type: application/json' -d '{"level":1000,"exceptionsActive":true,"exception": {"type": "java.lang.OutOfMemoryError",

[2021-08-27 10:03] #267 closed, assigned to nobody

[2021-09-03 14:14] F43nd1r commented on #58
From what I gathered this issue is about a mismatch between expected failure rate (assault level) and real failure rate. Is this correct?

If so, could this be fixed by providing an alternative mode to randomness? (Deterministic, e.g. attack every x requests)

Is this something we'd want to do?

[2021-09-10 11:53] WtfJoke opened #274 "Docs of Enable/Disable Chaosmonkey endpoint does not reflect reality"
#246 changed the format of the /enable /disable endpoint, but the [docs ](https://github.com/codecentric/chaos-monkey-spring-boot/blob/main/chaos-monkey-docs/src/main/asciidoc/endpoints.adoc) still shows the old format

[2021-09-11 04:53] #185 closed

[2021-09-11 04:53] #181 closed

[2021-09-24 14:36] tuxdevelop opened #277 "WatcherPropertiesUpdate should include RestTemplate, WebClient and HealthIndicator property"
## Expected Behavior
When sending to the /actuator/chaosmonkey/watchers endpoint a post request with following body

[code]
the watchers should be activated.

## Current Behavior
The properties are missing, activation not possible

## Possible Solution
WatcherPropertiesUpdate should include RestTemplate, WebClient and HealthIndicator property.

[2021-10-12 18:50] #58 closed, assigned to MrBW

[2021-10-15 12:58] F43nd1r opened #281 "Clean up Configuration Docs"
We want to rework [this docs section ](https://codecentric.github.io/chaos-monkey-spring-boot/latest/#_properties) to be better organized.

 - Sections?
 - Alphabetic sorting?

[2021-10-15 13:16] F43nd1r opened #282 "Use Spring Boot/Cloud Bom for dependencies"
We want to replace explicit versions with spring boot/cloud boms to reduce overhead

[2021-10-15 13:44] #277 closed, assigned to tuxdevelop

[2021-10-16 17:07] WtfJoke commented on #258
No need to appologize :)

[2021-10-17 12:27] WtfJoke commented on #201
@chuwennan have a look at the latest release and the documentation [here](https://codecentric.github.io/chaos-monkey-spring-boot/latest/#_alternative_bean_watcher) and [here for the property chaos.monkey.watcher.beans](https://codecentric.github.io/chaos-monkey-spring-boot/latest/#_properties)

Would be great if you could give us feedback if it worked for your usecase 👍

[2021-10-27 22:35] shajeni72 opened #285 "Spring Webflux application using Functional Web framework fails to startup"
Spring Webflux application using Functional Web framework fails to startup.

My application uses functional web framework https://spring.io/blog/2016/09/22/new-in-spring-5-functional-web-framework. Upon adding CMSB the application fails to startup.

Does Chaos Monkey supports spring webflux functional web ?

## Current Behavior
org.springframework.boot.web.reactive.context.AnnotationConfigReactive

[2021-10-29 15:55] #282 closed, assigned to nobody

[2021-11-02 10:24] #281 closed

[2021-11-02 10:27] WtfJoke commented on #285
Hi @shajeni72

As far as I know it supports spring reactive stack.
There is also a small [demo app](https://github.com/codecentric/chaos-monkey-spring-boot/tree/main/demo-apps/chaos-monkey-web-reactive-app).

You might wanna check it out.
If you have a small demo app, which reproduces the mentioned error it would be great.

[2021-11-02 18:29] shajeni72 commented on #285
Thanks for sharing the demo app. After taking a closer look it made sense that issue was related to https://github.com/codecentric/chaos-monkey-spring-boot/issues/189

My app uses custom annotation to register the routes and the custom annotation did not get picked up as the bean was converted a CGLIB bean.

I resolved by adding this

[code]

[2021-11-02 18:29] #285 closed

[2021-11-03 04:52] #231 closed

[2021-11-03 04:53] #206 closed

[2021-11-03 19:13] ttddyy opened #287 "Separate the pointcut and aspect(advice), and allow user to override them"
Hello,

We have faced a problem with proxying a `@Component` that has **final methods**.
Since CGLIB cannot proxy the final methods (final classes was handled by #188), it produces a log like this:

[code]
Then, the component was not properly dependency injected and failed with NPE at runtime.

The underlying problem is that the `SpringComponentAspect` and its friends are too generalized to grab m

[2021-11-11 04:53] #207 closed

[2021-11-11 04:53] #189 closed

[2021-11-11 21:05] WtfJoke opened #288 "Provide sidecar for k8 usage (and document it)"
I made tests using kubernetes and chaos monkey can used that way. In order to use that we should publish a sidecar container for public use and publish it in docker hub/github container registry

See example
https://github.com/WtfJoke/chaoskotlindemo/commit/2fef52a904faed9e78f794eb873e4a0b23aed645

[2021-11-11 22:18] checketts commented on #288
Sidecars are useful when you can't include it as a library. Is that the goal? To use chaosmonkey features with node or go apps?

[2021-11-11 22:31] WtfJoke commented on #288
Yes, the current extjar would be provided as as a docker image which can be used as a sidecar for an existing spring application.

I dont know what you mean with this (we can only assault spring boot apps with jvm languages) 😅

[2021-11-11 22:51] checketts commented on #288
Oh I see. The sidecar isn't a process that is used, just a mechanism to add files (the jar)

[2021-11-11 22:52] checketts commented on #288
Which is why I was confused. Thanks for clarifying it for me.

[2021-11-25 06:07] surajpanda1582 commented on #37
Any solution to above issue. I am also facing simmilar error and not able to find exact root cause.

Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'chaos.monkey.watcher-de.codecentric.spring.boot.chaos.monkey.configuration.WatcherProperties': Unsatisfied dependency expressed through field 'service'; nested exception is org.springframewor

[2021-11-26 15:08] WtfJoke commented on #37
@surajpanda1582 can you reproduce the error with a newer chaos monkey spring boot version (like 2.5.4 or 2.4.5)?

If that issue still persists, can you provide  a minimal example project which reproduces the issue you're facing. If so, please create a new bug :)

[2021-11-29 10:34] surajpanda1582 commented on #71
Even I am facing same issue. I am using chaos monkey version 1.5 but endpoints are not getting exposed even after setting all the properties. Please let me know if anyone found solution to this.

[2021-12-03 12:51] WtfJoke commented on #287
Hi @ttddyy

Thank you for your detailed issue. I'll understand the difficulties you have.

Separating Advices and PointCut most likely would work like you describe, but im not sure if we should go this direction.

However with our latest release [2.5.4](https://github.com/codecentric/chaos-monkey-spring-boot/releases/tag/v2.5.4) we support [bean watchers](https://codecentric.github.io/chaos-monkey

[2021-12-03 20:08] ttddyy commented on #287
@WtfJoke Thanks for the pointer.

At a quick glance, the `watchedCustomServices` seems selectively specify which ones to proxy.
This probably is ok when target components are only a few.
On the other hand, if there are many components, it would be nice to have exclusion.

I just created a simple repro project to show the issue with a final method.
https://github.com/ttddyy/chaos-monkey-spring-boot

[2021-12-03 20:13] ttddyy opened #290 "Provide exclusion to assaults"
The `watchedCustomServices` property can specify which components to assault.  It is good when target components are only a few.
On the other hand, if there are many components, it would be nice to have exclusion.

For example, due to the limitation of proxying a component with final method(#287), I need to exclude some of the components.

When those classes with a final method come from the appli

[2021-12-03 20:30] ttddyy commented on #287
I just tried the `chaos.monkey.assaults.watchedCustomServices` property but unfortunately it doesn't work.

I did not list the `GreetingService` on the `watchedCustomServices` property, but I still see this log message:
[code]

This means it is still creating a proxy on the `GreetingService` bean.
By quickly looking
https://github.com/codecentric/chaos-monkey-spring-boot/blob/main/chaos-monkey-spr

[2022-01-12 14:05] dreyinger opened #292 "scheduler Bean is interfering with Beans from other libs"
## Expected Behavior

The Bean `scheduler` could have a more specific name to avoid Bean name collisions.

## Current Behavior

When using `chaos-monkey-spring-boot` library together with [db-scheduler](https://github.com/kagkarlsson/db-scheduler) there are two beans with the name `scheduler`. This makes chaos-monkey unusable in the latest version.

## Possible Solution

Rename the Bean/method to

[2022-01-14 12:52] WtfJoke commented on #290
Sounds like a great idea, thank you for sparking it :)

[2022-01-14 15:16] WtfJoke opened #294 "Remove hamcrest and exclude it from test dependencies"
We agreed on using [AssertJ](https://github.com/assertj/assertj-core) for our JUnit tests.

So we should remove existing Hamcrest tests and exclude it from the test dependencies in order that new test dont get written with hamcrest.

[2022-01-14 15:43] WtfJoke opened #295 "Rename Integration(Tests) to IntegrationTest"
Undo #177 as maven surefire doesnt execute these tests default and we needed to include it using a property.

[2022-01-15 06:39] anurag-rajawat commented on #295
Hi @WtfJoke I would like to work on this issue? Can you assign this to me?

[2022-01-15 13:42] WtfJoke commented on #295
Hey @anurag-rajawat sure, I'll asign it to you. Feel free to ask questions if you encounter any issues.

[2022-01-16 18:26] #295 closed

[2022-01-16 20:10] WtfJoke opened #297 "Extend contribution guide with lombok plugins"
We use [lombok](https://projectlombok.org/), but our [contribution guide](https://github.com/codecentric/chaos-monkey-spring-boot/blob/main/CONTRIBUTING.adoc) doesnt mention that. It should at least point out that were using it and it should guide the user to the appropriate ide plugins.

[2022-01-21 10:29] WtfJoke commented on #292
Fixed with #293

[2022-01-21 10:29] #292 closed

[2022-01-24 10:40] F43nd1r commented on #287
@ttddyy bean watchers and `watchCustomServices` are two separate things. Use`chaos.monkey.watcher.beans` instead.

[2022-02-04 10:28] #294 closed

[2022-02-04 12:44] #274 closed

[2022-02-04 13:00] WtfJoke commented on #297
Lets check if lombok is enabled by default in intellij (if it is we probably dont need to document it)

[2022-03-07 08:32] manishrathi4 commented on #287
I am facing the same issue. Below are various scenarios where you see this error "Could not generate CGLIB subclass of class xxxxx". The error happens as you try to start the application, and application doesn't boot.

- class with private or final method
- final class

Is there a solution or workaround? Are we expecting a fix in the next version of the framework.

[2022-03-16 06:29] yangbongsoo opened #304 "webClient doesn't work when chaos.monkey.enable is false"
## Expected Behavior
I hope that webClient work well in afterPropertiesSet.

## Current Behavior
My `chaos.monkey.enable` property value is false.
[code]

But When I start application, webClient doesn't work in bean load stage.
[code]

## Possible Solution
I have no idea whether It is bug or intended fail.
When I remove `assaultWebClient.run();` and `this.assaultInjectionService.assaultAllWebClien

[2022-04-01 14:50] F43nd1r commented on #304
Thanks for the reproducer, this is a very unfortunate side effect. Seems like the bean factory has problems initializing our aspects in the webclient thread and runs into a deadlock. We're still investigating how this could be fixed.

[2022-04-08 08:42] F43nd1r commented on #304
This issue is a deadlock between synchronization in beanfactory and webclient. I was able to reproduce the issue with simpler code:
[code]

This deadlock can be avoided in several ways, e.g.
 - manually modify the bean load order (in your reproducer this would mean `@DependsOn({"serviceAspect", "metrics", "startupTimeMetrics"})` on `ApiClient`)
 - don't make the network call in a separate thread (

[2022-04-08 14:13] #258 closed

[2022-04-09 15:36] yangbongsoo commented on #304
1. webClient without CM4SB can be used in afterPropertiesSet. no deadlock problem.
2. webClient using CM4SB makes deadlock because of bean factory and CM4SB aspects

Is it right??

[2022-04-12 12:13] kobezhangjian opened #311 "Hi, Is there any nice plan to user on distributed system?"
Hi, how to user on distributed system

[2022-05-06 15:00] WtfJoke commented on #311
HI @kobezhangjian
I dont understand your request fully.

Do you mean if its possible to use it on a multi instance environment? If so yeah that works, but you need to take care that you disable/enable it on all instances at the same time so that you dont have 50% Chaos and 50% non Chaos.

Another way is to use the feature toggle support of unleashed. There you can enable/disable Chaos Monkey for a

[2022-05-06 16:05] #297 closed

[2022-05-06 16:13] #287 closed

[2022-05-06 16:13] #290 closed

[2022-05-10 08:58] F43nd1r commented on #304
It's not just using a webclient that is the problem. It's using a webclient that has bean dependencies which get initialized in another thread.
But yes, in the end the exact code you have does not and will never work with chaosmonkey out of the box, it's impossible to fix on our side.

I have given several workarounds for you to choose from, I hope one of those works for you. We think the third wo

[2022-05-10 09:48] yangbongsoo commented on #304
thank you !!

[2022-05-10 09:48] #304 closed

[2022-05-31 23:51] jonatan-ivanov opened #317 "Support Spring Data's Repository interface"
As far as I know (and as it is documented), the repository watcher (`chaos.monkey.watcher.repository`) only supports the `@Repository` stereotype.
There are use-cases where repositories are created without the user annotating them with the `@Repository` annotation.
E.g.: Spring Data JPA, Spring Data Rest, etc. generates implementation for interfaces that extend `org.springframework.data.repository

[2022-06-01 00:09] jonatan-ivanov opened #318 "More granular config for assaults"
I would like to configure assaults in a more granular way.
I guess the rabbit hole is deep but here are a few examples:
- Being able to set different `level` for the `latency` and the `exceptions` assault
- Being able to set different `watchers` for the `latency` and the `exceptions` assault (e.g.: `componentA` has latency-only, `componentB` exceptions-only and `componentC` both)
- I would like to

[2022-06-01 00:20] jonatan-ivanov opened #319 "Arbitrary bean wrapping does not work for Spring Data JPA"
If I create a Spring Data `Repository` (e.g.: `public interface AbcRepository extends PagingAndSortingRepository<Abc, UUID>`), and set `chaos.monkey.watcher.beans` (i.e.: abcRepository), it seems `ChaosMonkeyBeanPostProcessor` does not wrap the bean properly (the proxy is the same as the original bean according to the debugger).

## Expected Behavior
Setting `chaos.monkey.watcher.beans` on Spring

[2022-06-03 09:00] F43nd1r commented on #317
I *think* this is supposed to already work that way, hence the bug label.

[2022-06-03 14:16] F43nd1r commented on #319
As this also works in a simpler project, I'm going to assume this is the same issue as #317

[2022-06-04 00:25] jonatan-ivanov commented on #317
@F43nd1r I slimmed down one of your sample apps and it seems it does not work on my box: https://github.com/jonatan-ivanov/chaos-monkey-spring-boot/tree/spring-data-jpa-demo
(the [diff](https://github.com/codecentric/chaos-monkey-spring-boot/compare/main...jonatan-ivanov:spring-data-jpa-demo) is ugly so I recommend viewing the code, it's small)

A few notes with the sample:
- I removed `@Repositor

[2022-06-04 00:30] jonatan-ivanov commented on #319
Might be, please check my minimal reproducer I posted on #317 if I try to assault the repo through the bean it still not works.
I'm able to repro this behavior with the reproducer in #317 and adding `chaos.monkey.watcher.beans=helloRepository` to the settings.

[2022-06-10 08:20] F43nd1r commented on #317
Your demo works as expected for me. Please note that enabling multiple assaults (exception and latency) means one will be picked at random, so not every request fails.

[2022-06-10 09:55] F43nd1r commented on #318
This would need bigger structural changes, so not sure if it'll actually happen, but I'm just dumping some thoughts on configuration here:

Simpler solution would be to provide overrides for specific beans like this:
[code]
However, to solve all cases mentioned in OP we'd need to allow multiple of these configurations to be active at the same time, something like this
[code]
which then means order

[2022-06-28 13:49] furti opened #321 "Add option to watch beans by type"
Maybe this is already possible, or there is a reason why this is not implemented yet. As I couldn not find any information about this, I will create this issue.

## Expected Behavior
It should be possible to watch beans by type. It should also be possible to define a supertype, and all subtypes of it will also be watched.

## Current Behavior
For example if I want to enable chaos monkeys for all b

[2022-07-06 03:31] vgaur opened #322 "Kill Assault On a method call"
I am trying to add point cut on a method of service class and want the app to get killed when the method gets executed. Looked at the code of the interceptor and it seems it only works for RequestAssault and not on runtime assault.

I have provided detail on SO here
https://stackoverflow.com/questions/72824307/spring-boot-chaos-monkey-kill-assault

## Expected Behavior
I was expecting to set the k

[2022-07-08 12:52] WtfJoke commented on #322
Hi @vgaur

The KillAppAssault is a RuntimeAssault. They need to be executed on your own or on a specific timeframe by specifing a cron expression like described in the [docs to RuntimeAssaults](https://codecentric.github.io/chaos-monkey-spring-boot/latest/#runtime-assaults). Currently its not possible to execute RuntimeAssaults when doing requests.

So by either make a POST request to `http://loca

[2022-07-11 03:57] vgaur commented on #322
Thanks a lot @WtfJoke for your reply.
Yes, the behavior you have specified is working perfectly fine. I was confused because of this
https://codecentric.github.io/chaos-monkey-spring-boot/latest/#_appkiller_assault

Where it says
`When the configured methods are called in the application, the Chaos Monkey will shut down the application.
`

To give you some background on what I was trying, I have s

[2022-07-23 04:49] #311 closed

[2022-08-07 19:44] keeplearningandtrying opened #323 "Does watchedCustomServices work for Repository sterotype?"
My observation is it doesn't.

[2022-08-19 15:24] F43nd1r commented on #318
We've decided to not go for a generally more flexible configuration for two reasons:
 - performance concerns: more complex config means more complex checks on every method call
 - the configuration I envisioned is too complex for both spring-boot-configuration-processor and intelliJ autocomplete. Losing config IDE support would be a downgrade for all users.

Instead #324 opens up the `determineLat

[2022-08-19 15:35] F43nd1r commented on #323
`watchedCustomServices` uses the method definition signature, meaning if a method is defined in a superclass (e.g. `CrudRepository` in this case) you'd have to put that class into `watchedCustomServices` instead.

If that is intended behaviour in this case is open for discussion. Calling @WtfJoke

[2022-08-19 15:39] WtfJoke commented on #323
Yeah we weren't very explicit about it, but imho thats the intended way.

[2022-08-22 02:28] robinjacob opened #325 "ChaosMonkeyTaskScheduler shutting down spring boot application"
One of the Kafka Consumer within my Spring Boot application is throwing an authentication error. This is causing the Spring Boot application to be shut down. I believe ChaosMonkeyTaskScheduler is shutting down the Spring Boot application. If I do not provide chaos-monkey in my spring profile during start up then Spring Boot Application starts fine although it shows authentication failure with the

[2022-08-26 12:01] GerritRiesch94 opened #326 "API Doc (OpenAPI Spec, etc.)"
Hey is there any possibility to get a JSON Schema or better API Doc to rely on? Background of my question is, that I would like to make an WebUI tool to manage the configuration (Assaults, Watchers, enable/disable Chaos Monkey, etc.). Therefore it would be nice if I could do some input verification based on the API Doc.

Thanks in advance for your support :)

[2022-09-02 07:39] F43nd1r commented on #325
How did you get to this conclusion?

Please provide sources or a minimal reproducer for us to debug the issue. It is not clear from your description what is going on.

[2022-09-09 07:51] #318 closed

[2022-09-09 07:57] F43nd1r commented on #326
I've created a PR to create a springdoc group for chaosmonkey, but you can already view it with the current version by enabling the actuator support on springdoc.
[code]

[2022-09-13 06:24] GerritRiesch94 commented on #326
Thank you for the hint. Tried it and worked fine.

[2022-09-13 17:01] keeplearningandtrying commented on #323
@F43nd1r and @WtfJoke, thanks for the explain. I can verify that that is intended behavior.

[2022-09-13 17:01] #323 closed

[2022-09-23 07:46] WtfJoke commented on #322
Sorry for my late reply. That's a documentation issue.

If I recall correctly the AppKiller Assault used to work once like that (before it was differentiated between Runtime/RequestAssaults).

About your use case. Wont the Exception-Assault work in your case as well?

[2022-10-07 09:46] #326 closed

[2022-11-03 04:53] #317 closed

[2022-11-17 04:44] #325 closed